<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosinesubscriber</key>
	<string>primaryNavigator</string>
	<key>secondThread</key>
	<string>reduceState</string>
	<key>specifyDocument</key>
	<string>routerBottom</string>
	<key>subscriptionVisible</key>
	<string>maxMaterial</string>
</dict>
</plist>
