<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonDescriptor</key>
	<string>transformerAlignment</string>
	<key>easyEmitter</key>
	<string>capacitiestint</string>
	<key>entityVisible</key>
	<string>newestCapacity</string>
	<key>greatLabel</key>
	<string>discardedReduction</string>
	<key>shoulddisposematrix</key>
	<string>canRenderDescriptor</string>
	<key>sophisticatedobserverpadding</key>
	<string>mediumMechanism</string>
</dict>
</plist>
