<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedUtil</key>
	<string>othernavigatorfeedback</string>
	<key>protectedBaseline</key>
	<string>canRenderAlert</string>
	<key>shouldAttachEffect</key>
	<string>logarithmSystem</string>
	<key>transformerandmediator</key>
	<string>liteImpression</string>
</dict>
</plist>
