<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisRight</key>
	<string>sequentialCoordinator</string>
	<key>histogramversustask</key>
	<string>prepareBitrate</string>
	<key>tableForce</key>
	<string>unaryHead</string>
</dict>
</plist>
