<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionForce</key>
	<string>multiScenario</string>
	<key>activatedShader</key>
	<string>intermediateCursor</string>
	<key>anchorTransparency</key>
	<string>storeinteraction</string>
	<key>disparateConsumption</key>
	<string>dismisscomposition</string>
	<key>gridfunctiontint</key>
	<string>accessibleFormat</string>
	<key>lazyArchitecture</key>
	<string>interactorTint</string>
	<key>shouldSaveInteger</key>
	<string>elasticPopup</string>
	<key>shoulddismisspainter</key>
	<string>difficultConstant</string>
	<key>specifyReduction</key>
	<string>promiseType</string>
	<key>staticKernel</key>
	<string>screenDistance</string>
</dict>
</plist>
