<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartbehavior</key>
	<string>expandedStructure</string>
	<key>mediaqueryactionskewx</key>
	<string>shouldDispatchSizedBox</string>
	<key>normalText</key>
	<string>animatedcontainerShape</string>
	<key>popupsaturation</key>
	<string>resetBuilder</string>
	<key>shouldConnectSine</key>
	<string>textfieldstroke</string>
	<key>shouldStreamExpanded</key>
	<string>specifyAmortization</string>
</dict>
</plist>
