<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaShape</key>
	<string>denseResult</string>
	<key>cycleopacity</key>
	<string>monsterSystem</string>
	<key>graphicOpacity</key>
	<string>bindMission</string>
	<key>lazyUseCase</key>
	<string>semanticssaturation</string>
	<key>mapperresponse</key>
	<string>canPauseCustomPaint</string>
	<key>skirtForce</key>
	<string>subtleInjection</string>
	<key>subscriberBorder</key>
	<string>diffableStore</string>
	<key>usagemethodname</key>
	<string>streamLayer</string>
</dict>
</plist>
