<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customDelivery</key>
	<string>uniqueMapper</string>
	<key>disabledNorm</key>
	<string>shouldUpdatePrecision</string>
	<key>elasticFeature</key>
	<string>sensorShade</string>
	<key>functionalConvolution</key>
	<string>robustIcon</string>
</dict>
</plist>
