<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyCaption</key>
	<string>subtleElement</string>
	<key>directlySession</key>
	<string>sliderorientation</string>
	<key>greatschema</key>
	<string>canSubscribeNorm</string>
	<key>gridOrigin</key>
	<string>responsedistance</string>
	<key>relationalTraversal</key>
	<string>shouldPushMovement</string>
	<key>resultdepth</key>
	<string>standaloneRemainder</string>
	<key>unactivatedMetadata</key>
	<string>canSubscribePriority</string>
	<key>usecasebyenvironment</key>
	<string>mainEntity</string>
</dict>
</plist>
