<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerDimension</key>
	<string>unbindNotification</string>
	<key>explicitListener</key>
	<string>shouldUnbindSession</string>
	<key>generateproject</key>
	<string>shouldDeserializeSensor</string>
	<key>globalTime</key>
	<string>declarativeBrush</string>
	<key>hasthread</key>
	<string>priorChannels</string>
	<key>scrollableModule</key>
	<string>vectorForm</string>
	<key>shouldHandleActivity</key>
	<string>cleanCompleter</string>
	<key>specifyHash</key>
	<string>pinchableTentative</string>
	<key>statelessScale</key>
	<string>scrollShape</string>
	<key>symmetricfuture</key>
	<string>shapeDuration</string>
</dict>
</plist>
