<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateticker</key>
	<string>clipDelegate</string>
	<key>behaviordescription</key>
	<string>builderinteraction</string>
	<key>cupertinoImpact</key>
	<string>tweenMargin</string>
	<key>dynamiccollectionfeedback</key>
	<string>euclideanPolygon</string>
	<key>multiLocalization</key>
	<string>convertView</string>
	<key>shouldDecodeHeap</key>
	<string>arithmeticSink</string>
	<key>temporarynavigatorborder</key>
	<string>sustainableTrigger</string>
</dict>
</plist>
