<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessorythroughput</key>
	<string>missionFrequency</string>
	<key>binarypertask</key>
	<string>descriptorelasticity</string>
	<key>challengestyle</key>
	<string>navigationAppearance</string>
	<key>immediateprogressbardistance</key>
	<string>permanentFormat</string>
	<key>largeLog</key>
	<string>nextDialogs</string>
	<key>momentumTransparency</key>
	<string>canRenderBatch</string>
	<key>parallelColumn</key>
	<string>featureactivitytag</string>
	<key>shouldObserveDrawer</key>
	<string>rapidGridView</string>
	<key>sineInteraction</key>
	<string>shouldContinueSkirt</string>
	<key>sizeDistance</key>
	<string>robustIcon</string>
</dict>
</plist>
