<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoInfo</key>
	<string>subscriberShade</string>
	<key>beginnerPlate</key>
	<string>clipTopic</string>
	<key>deploygraph</key>
	<string>temporarybrush</string>
	<key>explicitAllocator</key>
	<string>visibleDelegate</string>
	<key>niblifecycle</key>
	<string>multiPager</string>
	<key>requiredTechnique</key>
	<string>utilforenvironment</string>
	<key>routerStyle</key>
	<string>saveChecklist</string>
	<key>shouldRenderActivity</key>
	<string>controllershapetension</string>
</dict>
</plist>
