<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionNavigation</key>
	<string>captureSink</string>
	<key>beginnerShape</key>
	<string>statusDirection</string>
	<key>gestureBottom</key>
	<string>immutableUtil</string>
	<key>iconorlayer</key>
	<string>embraceView</string>
	<key>injectionDirection</key>
	<string>stringifyFeature</string>
	<key>interactiveGridView</key>
	<string>unsortedLayout</string>
	<key>robustNotation</key>
	<string>graphicTag</string>
	<key>sophisticatedAwait</key>
	<string>shaderActivity</string>
	<key>spineTail</key>
	<string>beginnerRestriction</string>
	<key>tensorResolver</key>
	<string>substantialLifecycle</string>
</dict>
</plist>
