<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateSaturation</key>
	<string>disabledMap</string>
	<key>isprotocol</key>
	<string>receiveflex</string>
	<key>normalComponent</key>
	<string>beginnerDuration</string>
	<key>presenterposition</key>
	<string>regulateDelegate</string>
	<key>prevHandler</key>
	<string>descentstyle</string>
	<key>providerstyleappearance</key>
	<string>usedarchitecture</string>
	<key>provisionSize</key>
	<string>shouldStopConstraint</string>
	<key>shouldObserveGift</key>
	<string>infoKind</string>
	<key>subtleJoiner</key>
	<string>temporaryPlate</string>
</dict>
</plist>
