<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedthemeflags</key>
	<string>hyperbolicMargin</string>
	<key>mainScreen</key>
	<string>multiNorm</string>
	<key>petBottom</key>
	<string>yieldContraction</string>
	<key>publisherDepth</key>
	<string>canUnmountedTable</string>
	<key>rowsensor</key>
	<string>canFinishHistogram</string>
	<key>serializesize</key>
	<string>convolutionFrequency</string>
	<key>shouldTransformPlate</key>
	<string>pivotalAxis</string>
	<key>singlePresenter</key>
	<string>missedstream</string>
	<key>switchName</key>
	<string>hardnibresponse</string>
</dict>
</plist>
