<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianTangent</key>
	<string>embedButton</string>
	<key>consultativeAlignment</key>
	<string>transposeLoop</string>
	<key>dataDirection</key>
	<string>segueInteraction</string>
	<key>disabledSound</key>
	<string>radioLocation</string>
	<key>flexibleDependency</key>
	<string>canStartHeap</string>
	<key>lazyConstraint</key>
	<string>shouldPaintCupertino</string>
	<key>shouldEncodeMaster</key>
	<string>shouldAnimateTool</string>
	<key>shouldNotifyRole</key>
	<string>cardColor</string>
	<key>uniqueSubscription</key>
	<string>disabledMapper</string>
	<key>utilmapper</key>
	<string>yieldeffect</string>
</dict>
</plist>
