<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entropyFormat</key>
	<string>lazyMap</string>
	<key>featureduration</key>
	<string>grainDirection</string>
	<key>keyModule</key>
	<string>enabledWorkflow</string>
	<key>litelocalizationtheme</key>
	<string>intensitySingleton</string>
	<key>sortedParticle</key>
	<string>permanentDelivery</string>
	<key>specifierInteraction</key>
	<string>diversifiedQuaternion</string>
	<key>unactivatedCapsule</key>
	<string>scheduleIntensity</string>
</dict>
</plist>
