<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileMetadata</key>
	<string>notifymember</string>
	<key>asynchronousCursor</key>
	<string>modulusCycle</string>
	<key>configurationagainstcommand</key>
	<string>declarativeContainer</string>
	<key>hyperbolicColor</key>
	<string>tabbarKind</string>
	<key>instructionState</key>
	<string>dismissAsset</string>
	<key>interactiveIcon</key>
	<string>normalTable</string>
	<key>numericalTween</key>
	<string>materialEvaluation</string>
	<key>shouldPersistPoint</key>
	<string>mechanismbehavior</string>
	<key>staticCycle</key>
	<string>semanticjoiner</string>
</dict>
</plist>
