<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containertypebehavior</key>
	<string>mergerScale</string>
	<key>positionInterval</key>
	<string>diffablePoint</string>
	<key>titleOpacity</key>
	<string>assetBorder</string>
	<key>uniformscroller</key>
	<string>shouldEndEntropy</string>
</dict>
</plist>
