<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellremediation</key>
	<string>transposeCallback</string>
	<key>crucialDescent</key>
	<string>equalizationAcceleration</string>
	<key>diffableRemainder</key>
	<string>diversifieddescription</string>
	<key>exceptionmomentum</key>
	<string>nativerepository</string>
	<key>grainRight</key>
	<string>criticalRadius</string>
	<key>isolateremediation</key>
	<string>dialogsInteraction</string>
	<key>releasestateless</key>
	<string>attachSpecifier</string>
	<key>shouldpopbox</key>
	<string>cursorInteraction</string>
	<key>symmetricCoordinator</key>
	<string>permanentRadius</string>
	<key>timelineVelocity</key>
	<string>differentiatebullet</string>
</dict>
</plist>
