<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyusecasespacing</key>
	<string>accordionIcon</string>
	<key>hashamongshape</key>
	<string>reactiveGift</string>
	<key>mediumAnchor</key>
	<string>wrapPreview</string>
	<key>prismaticCupertino</key>
	<string>similarRemediation</string>
	<key>protectedOperation</key>
	<string>bufferenvironmentsaturation</string>
	<key>storageuntilcomposite</key>
	<string>routerScope</string>
</dict>
</plist>
