<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedStream</key>
	<string>functionalHash</string>
	<key>baselineAcceleration</key>
	<string>priorGroup</string>
	<key>bitrateTheme</key>
	<string>scrollableStack</string>
	<key>granularprojectionmomentum</key>
	<string>shouldPublishCache</string>
	<key>shouldNavigateExpanded</key>
	<string>semanticStore</string>
	<key>shouldStreamDimension</key>
	<string>injectionvelocity</string>
	<key>typicalPriority</key>
	<string>certificateSystem</string>
</dict>
</plist>
