<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatorTheme</key>
	<string>hierarchicalrectangle</string>
	<key>apertureactiondelay</key>
	<string>traversalFeedback</string>
	<key>explicitThread</key>
	<string>robustMomentum</string>
	<key>observerorvariable</key>
	<string>intermediateLoss</string>
	<key>originalChapter</key>
	<string>advancedActivity</string>
	<key>otherAnalogy</key>
	<string>channelsDensity</string>
	<key>shouldBindDimension</key>
	<string>gradientPosition</string>
</dict>
</plist>
