<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardmapcoord</key>
	<string>popupscale</string>
	<key>shouldPushMedia</key>
	<string>canSkipTable</string>
	<key>specifyMobile</key>
	<string>isMaster</string>
	<key>staticbuttonforce</key>
	<string>independentProjection</string>
</dict>
</plist>
