<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblePrecision</key>
	<string>resilientLayer</string>
	<key>associatedStateless</key>
	<string>contractionColor</string>
	<key>explicitwrapper</key>
	<string>iterativeConsumption</string>
	<key>invokeindicator</key>
	<string>symbolOrientation</string>
	<key>marginTension</key>
	<string>materializerinterval</string>
	<key>navigationSkewX</key>
	<string>validateSensor</string>
	<key>optiondecoratorappearance</key>
	<string>switchPlatform</string>
	<key>previewSize</key>
	<string>configureRow</string>
	<key>symmetricInteractor</key>
	<string>customAppBar</string>
</dict>
</plist>
