<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flextint</key>
	<string>cursorNumber</string>
	<key>impactDistance</key>
	<string>descriptionPrototype</string>
	<key>invisibleLoader</key>
	<string>primaryConsumption</string>
	<key>logarithmFeedback</key>
	<string>agileChannel</string>
	<key>otherinteraction</key>
	<string>combineModel</string>
</dict>
</plist>
