<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intermediateExponent</key>
	<string>activeChapter</string>
	<key>pagerAcceleration</key>
	<string>skipGram</string>
	<key>remainderPadding</key>
	<string>materialLoss</string>
	<key>storagefeedback</key>
	<string>threadperparameter</string>
</dict>
</plist>
