<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildernumbermomentum</key>
	<string>marginShade</string>
	<key>inheritedStamp</key>
	<string>shouldRestartMusic</string>
	<key>shouldPauseRemainder</key>
	<string>sophisticatedModulus</string>
	<key>transformgrid</key>
	<string>shouldCancelVariant</string>
</dict>
</plist>
