<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectmesh</key>
	<string>connectRow</string>
	<key>basicOptimizer</key>
	<string>clipperBound</string>
	<key>decorationFrequency</key>
	<string>textstagevalidation</string>
	<key>decoupletechnique</key>
	<string>baselineindex</string>
	<key>displayablebinarydistance</key>
	<string>traversalResponse</string>
	<key>hyperbolicArithmetic</key>
	<string>reductionWork</string>
	<key>inheritedBorder</key>
	<string>shouldShowPageView</string>
	<key>robustProvider</key>
	<string>hasPet</string>
	<key>seamlessRole</key>
	<string>numericalColor</string>
	<key>semanticStamp</key>
	<string>shouldSaveTextField</string>
</dict>
</plist>
