<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directRequest</key>
	<string>extensiondepth</string>
	<key>grayscaleformvisible</key>
	<string>robustHandler</string>
	<key>integerTint</key>
	<string>transformertaxonomy</string>
	<key>modalEdge</key>
	<string>invisibleDecoration</string>
	<key>polygonPadding</key>
	<string>disabledAlert</string>
	<key>shouldunmountprotocol</key>
	<string>canHandleDecoration</string>
	<key>smartLayout</key>
	<string>granularModulus</string>
</dict>
</plist>
