<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousCustomPaint</key>
	<string>mediocreNorm</string>
	<key>cartesianGrain</key>
	<string>captionEdge</string>
	<key>customizedstate</key>
	<string>shouldconnectsign</string>
	<key>notationKind</key>
	<string>inheritedCombiner</string>
	<key>robustListView</key>
	<string>notifierStatus</string>
	<key>shouldKeepPet</key>
	<string>canCancelSlash</string>
</dict>
</plist>
