<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveradius</key>
	<string>respectiveGestureDetector</string>
	<key>agileObserver</key>
	<string>benchmarkResult</string>
	<key>emitcolumn</key>
	<string>chartInteraction</string>
	<key>selectorAcceleration</key>
	<string>persistentRestriction</string>
	<key>typicalTween</key>
	<string>deserializeComposition</string>
	<key>unactivatedUtil</key>
	<string>canDeserializeOptimizer</string>
</dict>
</plist>
