<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureoperation</key>
	<string>shouldRestartTangent</string>
	<key>easypreviewtint</key>
	<string>disposemenu</string>
	<key>imperativevariant</key>
	<string>dedicatedSearcher</string>
	<key>lazyMechanism</key>
	<string>iconDensity</string>
	<key>nextPresenter</key>
	<string>refreshUseCase</string>
	<key>permissiveManager</key>
	<string>detachEntropy</string>
	<key>reductionfrequency</key>
	<string>drawcolumn</string>
	<key>shouldBindProject</key>
	<string>dismissPositioned</string>
	<key>strokeSkewY</key>
	<string>shouldroutegradient</string>
	<key>tangentexceptstyle</key>
	<string>shouldAnimatePlayback</string>
</dict>
</plist>
