<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customQueue</key>
	<string>denseReplica</string>
	<key>shouldAttachHeap</key>
	<string>generateException</string>
	<key>shouldStartStream</key>
	<string>resizableLatency</string>
	<key>synchronousInteger</key>
	<string>visibleImage</string>
</dict>
</plist>
