<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chaptervartension</key>
	<string>inheritedDistinction</string>
	<key>coordinatorlayer</key>
	<string>combineallocator</string>
	<key>difficultmatrixhead</key>
	<string>shouldRenderDescriptor</string>
	<key>flexibleCatalyst</key>
	<string>canContinueConsumer</string>
	<key>lazyAlert</key>
	<string>cupertinoAspectRatio</string>
	<key>persistentTimer</key>
	<string>stateTier</string>
	<key>shouldSaveDialogs</key>
	<string>activeCharacteristic</string>
	<key>shouldStartAperture</key>
	<string>draggabledecorationsize</string>
	<key>shouldUnmountShader</key>
	<string>visualizeOffset</string>
</dict>
</plist>
