<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderpager</key>
	<string>persistentWrapper</string>
	<key>challengeOffset</key>
	<string>modelPlatform</string>
	<key>mediumrole</key>
	<string>selectedMonster</string>
	<key>pointStatus</key>
	<string>resizableObserver</string>
	<key>shouldSetStateArithmetic</key>
	<string>alphaLayer</string>
	<key>sophisticatedVideo</key>
	<string>consultativeColor</string>
</dict>
</plist>
