<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleMend</key>
	<string>transformScale</string>
	<key>animationoperation</key>
	<string>imperativeStorage</string>
	<key>completerborder</key>
	<string>projectionNumber</string>
	<key>descriptiondelay</key>
	<string>primaryView</string>
	<key>difficultShape</key>
	<string>delegatetopic</string>
	<key>nativeHandler</key>
	<string>calculateCurve</string>
	<key>retainedTolerance</key>
	<string>webTentative</string>
	<key>sequentialanalogy</key>
	<string>progressbarTask</string>
	<key>sophisticatedCharacter</key>
	<string>formatPromise</string>
	<key>visibleNib</key>
	<string>relationalNib</string>
</dict>
</plist>
