<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableConsumption</key>
	<string>variantMemento</string>
	<key>durationSpacing</key>
	<string>asyncreducer</string>
	<key>emithero</key>
	<string>sizedboxPattern</string>
	<key>notationForce</key>
	<string>canConnectRoute</string>
	<key>notifierType</key>
	<string>batchCommand</string>
	<key>permanentreductionfeedback</key>
	<string>visibleChannel</string>
	<key>queuepadding</key>
	<string>notifierMomentum</string>
	<key>reusableConverter</key>
	<string>deflateChapter</string>
	<key>uniqueProjection</key>
	<string>subscribeAnimatedContainer</string>
</dict>
</plist>
