<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionhue</key>
	<string>originalCluster</string>
	<key>generatetween</key>
	<string>capacitiesType</string>
	<key>inactiveGrain</key>
	<string>canRebuildEntropy</string>
	<key>injectiondelivery</key>
	<string>sanitizeProgressBar</string>
	<key>lazyThroughput</key>
	<string>evaluationBehavior</string>
	<key>multiSizedBox</key>
	<string>musicexceptplatform</string>
	<key>usecaseandstyle</key>
	<string>tensorWrapper</string>
</dict>
</plist>
