<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateawait</key>
	<string>intermediateQueue</string>
	<key>euclideanArchitecture</key>
	<string>emitFactory</string>
	<key>signatureDuration</key>
	<string>shouldTrainSegment</string>
	<key>viewparamtension</key>
	<string>unarySystem</string>
</dict>
</plist>
