<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerhead</key>
	<string>createChannel</string>
	<key>inkwellactionhead</key>
	<string>gramflyweighttype</string>
	<key>shouldStopProject</key>
	<string>interpolategridview</string>
	<key>sustainableRectangle</key>
	<string>diffableCallback</string>
</dict>
</plist>
