<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableOffset</key>
	<string>efficiencyEdge</string>
	<key>comprehensiveMerger</key>
	<string>spineRight</string>
	<key>consumeruntilstrategy</key>
	<string>quaternionLeft</string>
	<key>crudeInfo</key>
	<string>eagerException</string>
	<key>elasticStep</key>
	<string>findHandler</string>
	<key>intuitiveNib</key>
	<string>displayFuture</string>
	<key>intuitiveviewalignment</key>
	<string>mapHue</string>
	<key>isolateContrast</key>
	<string>canSubscribeAlpha</string>
	<key>selectedmargin</key>
	<string>directlyChecklist</string>
	<key>shouldPresentListView</key>
	<string>originalCapacity</string>
</dict>
</plist>
