<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>formatscene</key>
	<string>shouldPushRow</string>
	<key>navigatorwithoutcommand</key>
	<string>appbarpainter</string>
	<key>secondConfidentiality</key>
	<string>subscribeProtocol</string>
	<key>shouldDeserializeActivity</key>
	<string>publicstroke</string>
	<key>shouldEncodePet</key>
	<string>canYieldDecoration</string>
</dict>
</plist>
