<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decodedescriptor</key>
	<string>canPaintReduction</string>
	<key>factorycenter</key>
	<string>shouldYieldGrayscale</string>
	<key>maphash</key>
	<string>navigationLevel</string>
	<key>rotateresponse</key>
	<string>managerthroughstyle</string>
	<key>substantialMovement</key>
	<string>reconcileRow</string>
	<key>thresholdtint</key>
	<string>marshalResponse</string>
	<key>timerDepth</key>
	<string>sizeVar</string>
	<key>usedItem</key>
	<string>shouldDisposeExponent</string>
</dict>
</plist>
