<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disclaimerSize</key>
	<string>canTransitionMediaQuery</string>
	<key>immediateError</key>
	<string>difficultanimator</string>
	<key>integerSaturation</key>
	<string>shouldEndRoute</string>
	<key>logarithmForce</key>
	<string>shouldMountedPainter</string>
	<key>primaryTicker</key>
	<string>handleSkirt</string>
	<key>resolvercoord</key>
	<string>detachlistener</string>
	<key>rowrequest</key>
	<string>mobilePublisher</string>
	<key>shouldPushModulus</key>
	<string>statefulSubscriber</string>
	<key>shouldReplaceCoordinator</key>
	<string>persistBrush</string>
	<key>shoulddisconnectclipper</key>
	<string>quantizationFeature</string>
</dict>
</plist>
