<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityTension</key>
	<string>gridBrightness</string>
	<key>immutableElement</key>
	<string>lastSymbol</string>
	<key>originalMultiplication</key>
	<string>canPublishCursor</string>
	<key>otherHandler</key>
	<string>inflateProfile</string>
	<key>prioritytop</key>
	<string>distinctionLocation</string>
	<key>shouldParseEqualization</key>
	<string>interactiveData</string>
	<key>specifymarginspeed</key>
	<string>canProcessStream</string>
</dict>
</plist>
