<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCube</key>
	<string>canUpdateBaseline</string>
	<key>cellSpeed</key>
	<string>builderForm</string>
	<key>completioncommandpadding</key>
	<string>draggableConsumption</string>
	<key>directlyInstruction</key>
	<string>customizedDisclaimer</string>
	<key>seamlessReducer</key>
	<string>geometricQueue</string>
	<key>storeBorder</key>
	<string>routeSpacing</string>
	<key>tweenShade</key>
	<string>shouldAttachConstraint</string>
	<key>vectormatrix</key>
	<string>rapidOccasion</string>
	<key>visibleConsumption</key>
	<string>topicIndex</string>
</dict>
</plist>
