<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitVelocity</key>
	<string>granularMetadata</string>
	<key>localizationMargin</key>
	<string>synchronizeException</string>
	<key>shouldMountProtocol</key>
	<string>dismissDialogs</string>
	<key>shouldRouteRoute</key>
	<string>makeInteractor</string>
	<key>webTitle</key>
	<string>shouldReplaceReduction</string>
</dict>
</plist>
