<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeoffsetcontrast</key>
	<string>cacheStack</string>
	<key>decorationtension</key>
	<string>uniqueNavigation</string>
	<key>descentedge</key>
	<string>formatAspect</string>
	<key>enabledinjectiontype</key>
	<string>tabbarTension</string>
	<key>gestureSize</key>
	<string>challengeFlags</string>
	<key>greatTrajectory</key>
	<string>buildDelegate</string>
	<key>notationBrightness</key>
	<string>modalTemple</string>
	<key>ongesturedetectortap</key>
	<string>canHandlePet</string>
	<key>providepresenter</key>
	<string>inheritedFormat</string>
	<key>reconcilecubit</key>
	<string>accordionResult</string>
</dict>
</plist>
