<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clusterPadding</key>
	<string>equipmentIndex</string>
	<key>granularkernel</key>
	<string>shouldFormatSpecifier</string>
	<key>inkwellvaluetransparency</key>
	<string>infrastructureKind</string>
	<key>integrationSize</key>
	<string>canLayoutDrawer</string>
	<key>loadspecifier</key>
	<string>resolverContext</string>
	<key>notificationShade</key>
	<string>measureNode</string>
	<key>shouldSkipMobile</key>
	<string>canDisconnectStream</string>
	<key>sizeandlevel</key>
	<string>interfaceCommand</string>
	<key>spineOpacity</key>
	<string>canYieldPromise</string>
	<key>textacceleration</key>
	<string>canProcessStep</string>
</dict>
</plist>
