<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterwithoutstate</key>
	<string>sophisticatedCapacity</string>
	<key>declarativeBase</key>
	<string>agileLoss</string>
	<key>difficultTweak</key>
	<string>quitInterface</string>
	<key>mechanismTag</key>
	<string>particlerate</string>
	<key>positionedEdge</key>
	<string>intermediateRow</string>
	<key>remediationSkewX</key>
	<string>unmarshalPosition</string>
</dict>
</plist>
