<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyDistinction</key>
	<string>numericalprovidertransparency</string>
	<key>hasGift</key>
	<string>sustainablegrainbrightness</string>
	<key>interfaceperkind</key>
	<string>mobileRadius</string>
	<key>shouldEmitBuilder</key>
	<string>buildNavigation</string>
	<key>shouldFinishCache</key>
	<string>projectuntilvar</string>
	<key>trajectorySpacing</key>
	<string>effectHue</string>
</dict>
</plist>
