<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorofkind</key>
	<string>sensorSystem</string>
	<key>equalizationcommandcount</key>
	<string>popMission</string>
	<key>mediumHeap</key>
	<string>pausepresenter</string>
	<key>mendStatus</key>
	<string>agileMenu</string>
	<key>shouldDispatchSignature</key>
	<string>polygonScale</string>
	<key>shouldSetStateDialogs</key>
	<string>hasCustomPaint</string>
	<key>statelessthanvisitor</key>
	<string>mediumCosine</string>
</dict>
</plist>
