<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorbesideactivity</key>
	<string>canRenderConstraint</string>
	<key>cartesianShape</key>
	<string>decodeProject</string>
	<key>finishresource</key>
	<string>drawerTension</string>
	<key>sequentialrepositorytheme</key>
	<string>lifecycleStatus</string>
	<key>shouldPopStateful</key>
	<string>substantialCheckbox</string>
	<key>synchronouscubedirection</key>
	<string>functionalAccessory</string>
	<key>titleRate</key>
	<string>sustainableLogarithm</string>
</dict>
</plist>
