<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTrigger</key>
	<string>serializeConsumer</string>
	<key>displayableImpact</key>
	<string>gridStructure</string>
	<key>displayableNotification</key>
	<string>accessibleTentative</string>
	<key>imageFormat</key>
	<string>routescenario</string>
	<key>mutableTimer</key>
	<string>canConnectInstruction</string>
	<key>preparecaption</key>
	<string>singleVideo</string>
	<key>priorBox</key>
	<string>rectifyCompleter</string>
	<key>relationalgatepadding</key>
	<string>baselinesubscriber</string>
	<key>smallscene</key>
	<string>diversifiedArithmetic</string>
	<key>taxonomybehavior</key>
	<string>extensionproxytop</string>
</dict>
</plist>
