<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captureresolver</key>
	<string>permissiverouter</string>
	<key>combinerVisibility</key>
	<string>dissociateDelegate</string>
	<key>crucialConfidentiality</key>
	<string>exponentActivity</string>
	<key>flexibleArithmetic</key>
	<string>navigateSample</string>
	<key>interfaceduringwork</key>
	<string>updatecompleter</string>
	<key>plateshapecount</key>
	<string>draggableConsumption</string>
	<key>shouldNotifyIcon</key>
	<string>immutableTangent</string>
	<key>shouldinflatestream</key>
	<string>immediateDelivery</string>
	<key>significantProtocol</key>
	<string>disparateStatus</string>
	<key>sustainableTrajectory</key>
	<string>backwardsingletonoffset</string>
</dict>
</plist>
