<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascentStatus</key>
	<string>fusedawait</string>
	<key>compositionalpreviewtension</key>
	<string>protectedRadio</string>
	<key>coordinatorinwork</key>
	<string>zonecomponent</string>
	<key>navigationOffset</key>
	<string>advancedNotification</string>
	<key>originalTitle</key>
	<string>emitCompleter</string>
	<key>seamlessProject</key>
	<string>themeVariable</string>
	<key>subsequentOperation</key>
	<string>delicateStep</string>
</dict>
</plist>
