<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleProtocol</key>
	<string>temporaryColumn</string>
	<key>associatedElement</key>
	<string>activeTechnique</string>
	<key>asynchronouscaption</key>
	<string>canKeepExpanded</string>
	<key>draggableoverlay</key>
	<string>dedicatedNotification</string>
	<key>firstReplica</key>
	<string>holdtext</string>
	<key>invisibleCoordinator</key>
	<string>zoneContext</string>
	<key>lostReduction</key>
	<string>elasticLog</string>
	<key>normalResource</key>
	<string>firstmanagerspacing</string>
	<key>smartStore</key>
	<string>polygonSaturation</string>
	<key>subtleCanvas</key>
	<string>declarativePromise</string>
</dict>
</plist>
