<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalRouter</key>
	<string>widgetProcess</string>
	<key>decorationorigin</key>
	<string>subscribeCollection</string>
	<key>shouldContinueNavigator</key>
	<string>receiverDepth</string>
	<key>shouldPublishPromise</key>
	<string>canObserveRole</string>
	<key>sophisticatedTable</key>
	<string>precisionActivity</string>
</dict>
</plist>
