<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>routercreator</key>
	<string>permanentSound</string>
	<key>shouldLoadOption</key>
	<string>canRenderOption</string>
	<key>temporaryUseCase</key>
	<string>decorationcommandtop</string>
	<key>unlocktask</key>
	<string>playText</string>
</dict>
</plist>
