<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureRight</key>
	<string>compositionPrototype</string>
	<key>disparateGraphic</key>
	<string>layerInteraction</string>
	<key>immediateRadio</key>
	<string>canNotifyCard</string>
	<key>shouldCancelModulus</key>
	<string>replicateLayout</string>
	<key>unmountnode</key>
	<string>boxshadowuntiltask</string>
</dict>
</plist>
