<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialstatus</key>
	<string>performanimation</string>
	<key>hierarchicalConstraint</key>
	<string>discardedsignature</string>
	<key>semanticlistenervelocity</key>
	<string>smartInfrastructure</string>
	<key>utilcyclename</key>
	<string>smartObserver</string>
</dict>
</plist>
