<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultTechnique</key>
	<string>gemDelay</string>
	<key>interactiveremainder</key>
	<string>searcherstyle</string>
	<key>mainCombiner</key>
	<string>taxonomyFlags</string>
	<key>pageviewValidation</key>
	<string>readTopic</string>
	<key>shouldpauseinteger</key>
	<string>uniformElasticity</string>
	<key>signname</key>
	<string>usedCreator</string>
</dict>
</plist>
