<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keepchannels</key>
	<string>animatedReference</string>
	<key>localAnchor</key>
	<string>transitioncoord</string>
	<key>shouldBindDocument</key>
	<string>beginnerEquipment</string>
	<key>variantshapevisible</key>
	<string>makeNode</string>
</dict>
</plist>
