<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioTint</key>
	<string>parallelProgressBar</string>
	<key>controllervelocity</key>
	<string>trainheap</string>
	<key>difficultbuildercenter</key>
	<string>isolateSize</string>
	<key>gesturedetectorVisible</key>
	<string>mountcompleter</string>
	<key>inheritedService</key>
	<string>buildStamp</string>
	<key>seguelayertail</key>
	<string>canTransformFuture</string>
	<key>spriteResponse</key>
	<string>unsortedMargin</string>
	<key>stopnorm</key>
	<string>builderProcess</string>
	<key>swiftagainstframework</key>
	<string>responsiveDistinction</string>
	<key>triggerAcceleration</key>
	<string>composableStamp</string>
</dict>
</plist>
