<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactercontainstyle</key>
	<string>richtextOpacity</string>
	<key>colorVelocity</key>
	<string>labelsystempadding</string>
	<key>globalQueue</key>
	<string>prepareTheme</string>
	<key>marginconnector</key>
	<string>hardCombiner</string>
	<key>shouldSubscribeCupertino</key>
	<string>dynamicexceptioncolor</string>
	<key>streamspeed</key>
	<string>modulusMargin</string>
	<key>widgetatcycle</key>
	<string>substantialTimer</string>
</dict>
</plist>
