<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativefuture</key>
	<string>normskewx</string>
	<key>gemLeft</key>
	<string>pushCoordinator</string>
	<key>shouldPaintLoss</key>
	<string>configurationformrotation</string>
</dict>
</plist>
