<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticoperation</key>
	<string>singleRect</string>
	<key>observerforce</key>
	<string>functionalPublisher</string>
	<key>overlaychannel</key>
	<string>amortizationcolor</string>
	<key>positionedEdge</key>
	<string>injectionShade</string>
	<key>scaffoldScale</key>
	<string>defaultGradient</string>
	<key>signBorder</key>
	<string>arithmeticqueuescale</string>
	<key>topicOpacity</key>
	<string>largeConvolution</string>
</dict>
</plist>
