<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesBrightness</key>
	<string>moveUtil</string>
	<key>cardframeworkcenter</key>
	<string>sliderwithoutprocess</string>
	<key>consultativesymboloffset</key>
	<string>streamdropdownbutton</string>
	<key>deactivatewidget</key>
	<string>cacheText</string>
	<key>dimensionhead</key>
	<string>associateGrain</string>
	<key>normalConverter</key>
	<string>routetype</string>
	<key>occasionshape</key>
	<string>discardedContrast</string>
	<key>subscriberPressure</key>
	<string>clearStore</string>
	<key>swiftstate</key>
	<string>shouldMountedBorder</string>
	<key>transformerAlignment</key>
	<string>catalystStructure</string>
</dict>
</plist>
