<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredConverter</key>
	<string>hashwithmode</string>
	<key>immediateAnchor</key>
	<string>mediocreTaxonomy</string>
	<key>orchestrateutil</key>
	<string>shouldLayoutBullet</string>
	<key>popinteractor</key>
	<string>coordinatorOpacity</string>
	<key>subtleService</key>
	<string>cubitMomentum</string>
	<key>typicalHeap</key>
	<string>statefulOpacity</string>
</dict>
</plist>
