<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelname</key>
	<string>transitionSkewY</string>
	<key>deferredpetstyle</key>
	<string>partitionFactory</string>
	<key>displayableElement</key>
	<string>resolverstagedistance</string>
	<key>intercepttangent</key>
	<string>canFetchMaterial</string>
	<key>ishero</key>
	<string>canDetachDialogs</string>
	<key>iterativeanimation</key>
	<string>singleProject</string>
	<key>nativeNib</key>
	<string>shouldpaintview</string>
	<key>shouldRestartController</key>
	<string>substantialGift</string>
	<key>splitteracceleration</key>
	<string>detachHash</string>
	<key>transposemovement</key>
	<string>statusResponse</string>
</dict>
</plist>
