<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSample</key>
	<string>liteInterface</string>
	<key>musicDistance</key>
	<string>escalateResponse</string>
	<key>reusableDisclaimer</key>
	<string>euclideanRectangle</string>
	<key>sliderTail</key>
	<string>giftOperation</string>
</dict>
</plist>
