<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAlignment</key>
	<string>mountScroll</string>
	<key>consultativeAlert</key>
	<string>partitionTransformer</string>
	<key>diffableRouter</key>
	<string>replaceChannels</string>
	<key>particleinsidemethod</key>
	<string>quantizationTicker</string>
	<key>rangeTail</key>
	<string>permissiveSlider</string>
	<key>shouldTrainMaterial</key>
	<string>newestDisclaimer</string>
	<key>shouldtransformicon</key>
	<string>preparerow</string>
</dict>
</plist>
