<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianArchitecture</key>
	<string>compositionalLabel</string>
	<key>cartesianMaterializer</key>
	<string>prismaticCell</string>
	<key>consultativelocalizationtop</key>
	<string>persistTabBar</string>
	<key>dedicatedSelector</key>
	<string>canCreateHero</string>
	<key>fusedoffsetcount</key>
	<string>dimensionTask</string>
	<key>isconstraint</key>
	<string>plateTop</string>
	<key>responsiveDescriptor</key>
	<string>shouldInflatePriority</string>
	<key>shouldFinishSemantics</key>
	<string>providerchainpadding</string>
</dict>
</plist>
