<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonDelay</key>
	<string>adjustCurve</string>
	<key>encodestate</key>
	<string>commonFinder</string>
	<key>localizationMode</key>
	<string>gesturedetectorselector</string>
	<key>normDepth</key>
	<string>typicalQuaternion</string>
	<key>previewFlags</key>
	<string>movementContext</string>
	<key>radiotransition</key>
	<string>navigateBuffer</string>
	<key>seamlessCupertino</key>
	<string>channelspeed</string>
	<key>sequentialLoop</key>
	<string>cupertinoVar</string>
	<key>shouldValidateExpanded</key>
	<string>shouldReplaceCapsule</string>
	<key>staticGram</key>
	<string>keyInkWell</string>
</dict>
</plist>
