<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularStack</key>
	<string>restartAlpha</string>
	<key>instructionValidation</key>
	<string>signatureCommand</string>
	<key>linkerscale</key>
	<string>executeRadius</string>
	<key>mainProgressBar</key>
	<string>canConnectAlert</string>
	<key>normalNotification</key>
	<string>orchestrateConfiguration</string>
	<key>radioBorder</key>
	<string>animatedcontainerValidation</string>
	<key>shouldCacheDecoration</key>
	<string>canDetachNotification</string>
	<key>singleInfo</key>
	<string>mapBrightness</string>
	<key>smallSensor</key>
	<string>drawerLeft</string>
	<key>tensorCursor</key>
	<string>keepdependency</string>
</dict>
</plist>
