<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionRecursion</key>
	<string>seamlessdecorationcoord</string>
	<key>activityfactory</key>
	<string>directNotification</string>
	<key>distinctionVelocity</key>
	<string>remainderPrototype</string>
	<key>indicatorleft</key>
	<string>poolMetadata</string>
	<key>observesize</key>
	<string>publicDependency</string>
	<key>permissiveMenu</key>
	<string>mobilepointtag</string>
	<key>shouldObserveGesture</key>
	<string>listviewTier</string>
	<key>unarycolor</key>
	<string>delicatenotification</string>
</dict>
</plist>
