<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menulinker</key>
	<string>finishFragment</string>
	<key>serviceobservertension</key>
	<string>shouldbuildgraphic</string>
	<key>shouldlistengram</key>
	<string>giftContrast</string>
	<key>touchmedia</key>
	<string>immutableaperture</string>
</dict>
</plist>
