<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatealert</key>
	<string>deferredPicker</string>
	<key>arithmeticanimation</key>
	<string>swiftfromphase</string>
	<key>materialMaterializer</key>
	<string>inheritedAudio</string>
	<key>nativelayoutskewy</key>
	<string>interactorforce</string>
	<key>resourcevisible</key>
	<string>crudeCharacter</string>
	<key>shouldCreateSwift</key>
	<string>gesturedetectorTheme</string>
	<key>shouldFormatNorm</key>
	<string>injectmanager</string>
	<key>shouldHandleCharacter</key>
	<string>uniqueasset</string>
	<key>shouldunbindlog</key>
	<string>layeralignment</string>
	<key>significantremediation</key>
	<string>shouldStopModulus</string>
</dict>
</plist>
