<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardEquipment</key>
	<string>loadNorm</string>
	<key>convolutionBottom</key>
	<string>standaloneskirt</string>
	<key>disabledLogarithm</key>
	<string>graphictemplekind</string>
	<key>discardedCubit</key>
	<string>granularHeap</string>
	<key>easyOptimizer</key>
	<string>boxtaskbound</string>
	<key>navigatorinfrastructure</key>
	<string>firstGrain</string>
	<key>otherinkwell</key>
	<string>propagatemodal</string>
	<key>rapidDelivery</key>
	<string>relationalUseCase</string>
	<key>sortedintensityvelocity</key>
	<string>decorationForm</string>
</dict>
</plist>
