<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedGram</key>
	<string>intuitiveContainer</string>
	<key>keepcontainer</key>
	<string>sinkTop</string>
	<key>liteSymbol</key>
	<string>shouldStartLabel</string>
	<key>materialappbartop</key>
	<string>subscribeAlert</string>
	<key>normalBaseline</key>
	<string>routerMomentum</string>
	<key>respectiveTechnique</key>
	<string>canCancelContainer</string>
	<key>shouldAttachAnchor</key>
	<string>reducerSpacing</string>
	<key>unsortedProject</key>
	<string>convertPosition</string>
</dict>
</plist>
