<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleIntensity</key>
	<string>onslashtap</string>
	<key>cosineStyle</key>
	<string>shouldPublishRadio</string>
	<key>factoryTension</key>
	<string>basicSlash</string>
	<key>otherGem</key>
	<string>prismaticImage</string>
	<key>restrictionCoord</key>
	<string>allocatorShape</string>
	<key>selectedflex</key>
	<string>shouldunmountsegment</string>
	<key>shouldValidateCard</key>
	<string>errorEdge</string>
	<key>taskparameteroffset</key>
	<string>normalTrigger</string>
	<key>typicalChapter</key>
	<string>anchorInset</string>
</dict>
</plist>
