<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cyclecompleter</key>
	<string>substantialStore</string>
	<key>diversifiedTask</key>
	<string>seekParticle</string>
	<key>layoutinterpretervisible</key>
	<string>decouplePreview</string>
	<key>nodehead</key>
	<string>serviceActivity</string>
	<key>opaqueMapper</key>
	<string>subtlenormtheme</string>
	<key>shouldListenPromise</key>
	<string>scalabilityforce</string>
	<key>spineposition</key>
	<string>unactivatedContrast</string>
</dict>
</plist>
