<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canceltopic</key>
	<string>lastmanager</string>
	<key>directRecursion</key>
	<string>trainProjection</string>
	<key>nativeScheduler</key>
	<string>statelessCenter</string>
	<key>onshadertap</key>
	<string>commonMetrics</string>
	<key>otherSink</key>
	<string>usecaseSkewX</string>
	<key>shouldCancelSign</key>
	<string>poolAsync</string>
</dict>
</plist>
