<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorofprototype</key>
	<string>largeEffect</string>
	<key>effectDuration</key>
	<string>relationalCombiner</string>
	<key>onstatefulchanged</key>
	<string>mountedVariant</string>
	<key>shouldFormatLogarithm</key>
	<string>desktoppaddingtransparency</string>
</dict>
</plist>
