<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerOrientation</key>
	<string>isEffect</string>
	<key>apertureliketier</key>
	<string>shoulddetachstack</string>
	<key>awaitTension</key>
	<string>webrange</string>
	<key>composableerror</key>
	<string>vectormaterializer</string>
	<key>integrationLeft</key>
	<string>canTransitionModulus</string>
	<key>positionSaturation</key>
	<string>previewFlyweight</string>
	<key>shouldbindgesturedetector</key>
	<string>pivotalHandler</string>
	<key>utilColor</key>
	<string>shouldstreamgrayscale</string>
</dict>
</plist>
