<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dispatcherFeedback</key>
	<string>defaultArithmetic</string>
	<key>finishmobile</key>
	<string>shouldPublishDecoration</string>
	<key>immediateNotifier</key>
	<string>shouldUnbindMedia</string>
	<key>petinchain</key>
	<string>dimensionHue</string>
	<key>shouldAnimateTheme</key>
	<string>transformerPlatform</string>
	<key>substantialmember</key>
	<string>characteristicspacing</string>
	<key>subtleNotation</key>
	<string>asynchronousCharacteristic</string>
	<key>typicalCubit</key>
	<string>shouldParseDescriptor</string>
</dict>
</plist>
