<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedzonemargin</key>
	<string>heroRotation</string>
	<key>declarativeProgressBar</key>
	<string>iterativeExpanded</string>
	<key>dependencyprocessvalidation</key>
	<string>tickerdespiteoperation</string>
	<key>inactiveConsumption</key>
	<string>shouldPersistCard</string>
	<key>resizableMediaQuery</key>
	<string>materialadaptershade</string>
	<key>shouldFinishResource</key>
	<string>hyperbolicMapper</string>
	<key>shouldFormatBitrate</key>
	<string>arithmeticSkin</string>
	<key>statelessFinder</key>
	<string>releaseWidget</string>
	<key>stringifygesturedetector</key>
	<string>statelessStateful</string>
	<key>usecasetail</key>
	<string>currentexponent</string>
</dict>
</plist>
