<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nativeGift</key>
	<string>substantialCatalyst</string>
	<key>originalpolygon</key>
	<string>interfaceFeedback</string>
	<key>permissiveRoute</key>
	<string>subscribeconfiguration</string>
	<key>pivotalOption</key>
	<string>triggerBrightness</string>
	<key>resilientTexture</key>
	<string>shouldemitbox</string>
	<key>robustMaterializer</key>
	<string>instantiateConfiguration</string>
	<key>uniqueNotation</key>
	<string>nativematerial</string>
</dict>
</plist>
