<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableFragment</key>
	<string>ascentBound</string>
	<key>persistentTabView</key>
	<string>queueVar</string>
	<key>roleSpacing</key>
	<string>canDismissPadding</string>
	<key>serviceactioninterval</key>
	<string>resetParticle</string>
</dict>
</plist>
