<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderevaluation</key>
	<string>vertexResponse</string>
	<key>concreteFlex</key>
	<string>dissociateProvider</string>
	<key>ephemeralHash</key>
	<string>primaryAlert</string>
	<key>intuitivePromise</key>
	<string>nibDistance</string>
	<key>presenterCenter</key>
	<string>canDisconnectStack</string>
	<key>sinefactory</key>
	<string>shouldPauseCheckbox</string>
	<key>trajectoryTint</key>
	<string>validateSine</string>
</dict>
</plist>
