<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCapacity</key>
	<string>disabledThreshold</string>
	<key>defaultstamp</key>
	<string>particleMomentum</string>
	<key>diffableStorage</key>
	<string>shouldRenderSign</string>
	<key>diffableefficiency</key>
	<string>promiseTint</string>
</dict>
</plist>
