<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTrigger</key>
	<string>canPersistDecoration</string>
	<key>cacheDepth</key>
	<string>canResumeView</string>
	<key>evolutionInterval</key>
	<string>canCacheModulus</string>
	<key>gridviewMargin</key>
	<string>canDecodeAnimatedContainer</string>
	<key>methodobserver</key>
	<string>crudePlayback</string>
	<key>shouldDetachAperture</key>
	<string>immutablevideo</string>
	<key>shouldPauseClipper</key>
	<string>greatExtension</string>
	<key>shouldStreamInkWell</key>
	<string>borderOperation</string>
</dict>
</plist>
