<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMatrix</key>
	<string>invisibleSorter</string>
	<key>crucialColor</key>
	<string>canRenderPadding</string>
	<key>deliveryLeft</key>
	<string>shouldContinueMatrix</string>
	<key>directlymaterializer</key>
	<string>endNib</string>
	<key>disabledbox</key>
	<string>deserializeUtil</string>
	<key>nodecount</key>
	<string>instructionOffset</string>
	<key>shouldDisposeProject</key>
	<string>delicateStoryboard</string>
	<key>showtitle</key>
	<string>disposeStream</string>
	<key>subtleAction</key>
	<string>mutableCubit</string>
</dict>
</plist>
