<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitbuilder</key>
	<string>baselineBehavior</string>
	<key>currentTask</key>
	<string>splitterMargin</string>
	<key>customizedCoordinator</key>
	<string>queueAlignment</string>
	<key>dedicatedMultiplication</key>
	<string>projectValidation</string>
	<key>dedicatedtransformermode</key>
	<string>euclideanNorm</string>
	<key>denseAction</key>
	<string>priorityoutsidebuffer</string>
	<key>nextProtocol</key>
	<string>denseDescent</string>
	<key>processzone</key>
	<string>baseCycle</string>
	<key>shouldPresentSymbol</key>
	<string>handlemonster</string>
</dict>
</plist>
