<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsfromcontext</key>
	<string>sliderHue</string>
	<key>concatenatedimension</key>
	<string>lockDescription</string>
	<key>intuitiveResponse</key>
	<string>secondProcessor</string>
	<key>moduleMomentum</key>
	<string>shouldValidateEquipment</string>
	<key>navigatortint</key>
	<string>descriptorAcceleration</string>
	<key>radiusdespitesystem</key>
	<string>bufferreducer</string>
	<key>routetension</key>
	<string>accessorytrajectory</string>
	<key>shouldDismissBoxShadow</key>
	<string>exceptioninsidejob</string>
	<key>shouldSetStateReduction</key>
	<string>shouldRestartSensor</string>
	<key>subtleBuilder</key>
	<string>singletonType</string>
</dict>
</plist>
