<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binderDirection</key>
	<string>renderProtocol</string>
	<key>graphicOrigin</key>
	<string>channelmaterializer</string>
	<key>immediateCreator</key>
	<string>textureTag</string>
	<key>mediumTween</key>
	<string>screenmargin</string>
	<key>spinentropy</key>
	<string>elasticRemediation</string>
</dict>
</plist>
