<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentBitrate</key>
	<string>shouldListenBorder</string>
	<key>consultativeLog</key>
	<string>spriteTop</string>
	<key>positionorigin</key>
	<string>currentslash</string>
	<key>resilienceTail</key>
	<string>subsequentNib</string>
	<key>transitionOffset</key>
	<string>destroyReducer</string>
	<key>uniqueConfidentiality</key>
	<string>requestastask</string>
</dict>
</plist>
