<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorStatus</key>
	<string>checkboxType</string>
	<key>flexiblePadding</key>
	<string>canRebuildStep</string>
	<key>granularEquivalent</key>
	<string>animatedcontainerFacade</string>
	<key>integrationRate</key>
	<string>logarithmSystem</string>
	<key>limitnorm</key>
	<string>respectivePolygon</string>
	<key>shouldTransitionCaption</key>
	<string>quaternionskewy</string>
	<key>startlistener</key>
	<string>canPersistOptimizer</string>
	<key>unactivatedMerger</key>
	<string>permanentBox</string>
</dict>
</plist>
