<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characteristicShape</key>
	<string>textobject</string>
	<key>displayablePadding</key>
	<string>reflectscene</string>
	<key>futuresound</key>
	<string>remainderParameter</string>
	<key>mutableResolver</key>
	<string>reactiveaspect</string>
	<key>publicgroup</key>
	<string>shouldProcessHeap</string>
	<key>shouldCreateColumn</key>
	<string>canPushBaseline</string>
	<key>shouldDispatchRow</key>
	<string>priorCosine</string>
	<key>shouldFormatGate</key>
	<string>imagestyle</string>
	<key>smartConfiguration</key>
	<string>lazyButton</string>
	<key>statefulerror</key>
	<string>materialoffset</string>
</dict>
</plist>
