<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalLoop</key>
	<string>robustChapter</string>
	<key>dependencybrightness</key>
	<string>mutableResolver</string>
	<key>listviewRotation</key>
	<string>paintReduction</string>
	<key>oldPrecision</key>
	<string>provideslider</string>
	<key>staticparticlecenter</key>
	<string>handleRole</string>
	<key>synchronousBorder</key>
	<string>customizedSize</string>
</dict>
</plist>
