<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorTail</key>
	<string>shouldPublishPadding</string>
	<key>consultativeIcon</key>
	<string>shouldLoadOptimizer</string>
	<key>ephemeralAspectRatio</key>
	<string>enhanceBloc</string>
	<key>rebuildcontainer</key>
	<string>positionedmode</string>
	<key>shouldDecodeTheme</key>
	<string>catalystcontrast</string>
	<key>shouldFinishStep</key>
	<string>shouldLayoutOverlay</string>
	<key>subsequentEquivalent</key>
	<string>reusableRange</string>
</dict>
</plist>
