<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveIcon</key>
	<string>pivotalAperture</string>
	<key>certificateBrightness</key>
	<string>shouldResumeUnary</string>
	<key>concurrentAccessory</key>
	<string>chartviachain</string>
	<key>fragmentType</key>
	<string>shouldEndBox</string>
	<key>materialusageoffset</key>
	<string>canUnbindSegment</string>
	<key>responseagainstprototype</key>
	<string>reusableNavigator</string>
	<key>shouldAttachEntropy</key>
	<string>asynchronousPlayback</string>
</dict>
</plist>
