<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackInset</key>
	<string>euclideanservice</string>
	<key>immediatebitratevisible</key>
	<string>typicalCreator</string>
	<key>normalFragment</key>
	<string>builderColor</string>
	<key>scrollableDialogs</key>
	<string>videoIndex</string>
	<key>selectorSpeed</key>
	<string>orchestrateSprite</string>
	<key>specifyEffect</key>
	<string>analyzervisibility</string>
	<key>typicalHandler</key>
	<string>hasprojection</string>
</dict>
</plist>
