<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarTransparency</key>
	<string>exceptionInterpreter</string>
	<key>delicateDetector</key>
	<string>buildChannels</string>
	<key>disposeusecase</key>
	<string>canContinueInterpolation</string>
	<key>requesttaskbottom</key>
	<string>setstateCard</string>
	<key>statefulEqualization</key>
	<string>largeCreator</string>
	<key>typicalProvision</key>
	<string>lostHeap</string>
</dict>
</plist>
