<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoandcontext</key>
	<string>dimensionSize</string>
	<key>greatNotation</key>
	<string>nextMend</string>
	<key>liteAspect</key>
	<string>recursionRight</string>
	<key>semanticboxshadow</key>
	<string>relationalCubit</string>
	<key>visibleGrain</key>
	<string>uniqueBrush</string>
</dict>
</plist>
