<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianCaption</key>
	<string>slashscroller</string>
	<key>descriptionagainstmethod</key>
	<string>endsink</string>
	<key>globalHeap</key>
	<string>symmetricScheduler</string>
	<key>intermediateaccessory</key>
	<string>autoGraphic</string>
	<key>localroutevelocity</key>
	<string>storyboardState</string>
	<key>normbound</key>
	<string>resilienceResponse</string>
	<key>previewtraversal</key>
	<string>cartesianAspect</string>
	<key>taskoutsidekind</key>
	<string>iterativeCoordinator</string>
</dict>
</plist>
