<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparateCombiner</key>
	<string>setupGraph</string>
	<key>firstMetadata</key>
	<string>releaseInterface</string>
	<key>masterValidation</key>
	<string>traversalMargin</string>
	<key>semanticlayoutinteraction</key>
	<string>arithmeticinteractormomentum</string>
</dict>
</plist>
