<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activepoint</key>
	<string>canAnimateBox</string>
	<key>cruciallocalizationtag</key>
	<string>aggregateTexture</string>
	<key>disparateSink</key>
	<string>profileinterval</string>
	<key>pagerRate</key>
	<string>positionedStrategy</string>
	<key>primaryfutureformat</key>
	<string>methodVariable</string>
	<key>reusableAscent</key>
	<string>cellParam</string>
	<key>shouldParseProjection</key>
	<string>unmountedscene</string>
	<key>staticResilience</key>
	<string>concreteRow</string>
</dict>
</plist>
