<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerTint</key>
	<string>liteWidget</string>
	<key>currentExponent</key>
	<string>sizeMemento</string>
	<key>durationthroughlevel</key>
	<string>secondArchitecture</string>
	<key>impressionLeft</key>
	<string>originalResponder</string>
	<key>multiLifecycle</key>
	<string>shouldPushTool</string>
	<key>resultbeyondinterpreter</key>
	<string>resumeMedia</string>
	<key>smartModulus</key>
	<string>canPresentVariant</string>
</dict>
</plist>
