<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedHistogram</key>
	<string>remainderrate</string>
	<key>bitratevertex</key>
	<string>giftInterpreter</string>
	<key>canvascount</key>
	<string>slidervector</string>
	<key>contrastShape</key>
	<string>inactiveInterpolation</string>
	<key>currentprogressbar</key>
	<string>receiveLocalization</string>
	<key>drawermomentum</key>
	<string>boxValue</string>
	<key>shouldPresentCoordinator</key>
	<string>widgetMethod</string>
</dict>
</plist>
