<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeArithmetic</key>
	<string>scopeCoord</string>
	<key>disparateStack</key>
	<string>normalGridView</string>
	<key>hyperbolicModule</key>
	<string>canTrainMargin</string>
	<key>independentSearcher</key>
	<string>robustEfficiency</string>
	<key>plateBottom</key>
	<string>otherKernel</string>
	<key>statefulRepository</key>
	<string>imperativeGridView</string>
	<key>themereducer</key>
	<string>aspectVisibility</string>
	<key>usageSkewX</key>
	<string>relationalSelector</string>
</dict>
</plist>
