<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chooserOffset</key>
	<string>canRouteWidget</string>
	<key>concreteMission</key>
	<string>shouldpresenttabview</string>
	<key>customizedGradient</key>
	<string>seguealignment</string>
	<key>deliveryinteraction</key>
	<string>logmethodstate</string>
	<key>encodehero</key>
	<string>throughputMode</string>
	<key>flexRight</key>
	<string>baseIndex</string>
	<key>persistlog</key>
	<string>canDismissImage</string>
	<key>relationalIntensity</key>
	<string>dispatcherShape</string>
	<key>shouldEndBullet</key>
	<string>certificatevalidation</string>
</dict>
</plist>
