<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bandwidthDistance</key>
	<string>aperturePhase</string>
	<key>descriptorAlignment</key>
	<string>toolKind</string>
	<key>findcontroller</key>
	<string>shoulddecodevariant</string>
	<key>iterativeSize</key>
	<string>canPersistOption</string>
	<key>notationStyle</key>
	<string>dedicatedCustomPaint</string>
	<key>shouldEndFuture</key>
	<string>progressbaremitter</string>
	<key>shouldUnmountHero</key>
	<string>referencehandler</string>
	<key>shouldUnmountedInkWell</key>
	<string>consultativeChannel</string>
	<key>unaryForce</key>
	<string>deprecateDecoration</string>
</dict>
</plist>
