<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedExpanded</key>
	<string>refactorgroup</string>
	<key>augmentzone</key>
	<string>chartLeft</string>
	<key>cancelbloc</key>
	<string>finishMedia</string>
	<key>commonTimeline</key>
	<string>currentSubscriber</string>
	<key>decorationTint</key>
	<string>mappersaturation</string>
	<key>deferredEquipment</key>
	<string>instantiateLayer</string>
	<key>labelDepth</key>
	<string>cartesiannavigatorhead</string>
	<key>publicSkin</key>
	<string>tweenIndex</string>
	<key>shouldTransformCycle</key>
	<string>projectionTag</string>
	<key>substantialExtension</key>
	<string>equalListener</string>
</dict>
</plist>
