<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateFrequency</key>
	<string>shouldResumePrecision</string>
	<key>blocContrast</key>
	<string>shouldsaveswitch</string>
	<key>customFlex</key>
	<string>permanentConnector</string>
	<key>dynamicBorder</key>
	<string>responsiveDistinction</string>
	<key>greatEqualization</key>
	<string>aspectDepth</string>
	<key>memberuntilplatform</key>
	<string>instructionTop</string>
	<key>reusableTheme</key>
	<string>independentRectangle</string>
	<key>robustCube</key>
	<string>deliveryAlignment</string>
	<key>uniqueEvaluation</key>
	<string>titleofplatform</string>
</dict>
</plist>
