<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>musicOffset</key>
	<string>singleNavigator</string>
	<key>selectedcube</key>
	<string>streamRole</string>
	<key>shouldSetStateGate</key>
	<string>criticalResult</string>
	<key>transformclipper</key>
	<string>canDeserializeDecoration</string>
</dict>
</plist>
