<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonDistance</key>
	<string>beginnerMultiplication</string>
	<key>mediocreAlignment</key>
	<string>discoverentity</string>
	<key>navigatorBorder</key>
	<string>quantizationBloc</string>
	<key>numericalMultiplication</key>
	<string>cubitoutsidescope</string>
	<key>resizableMedia</key>
	<string>disabledMap</string>
	<key>screenOrientation</key>
	<string>deferredException</string>
	<key>signaturestore</key>
	<string>animatedcontainercharacteristic</string>
</dict>
</plist>
