<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>benchmarksegue</key>
	<string>scalabilitystate</string>
	<key>lastKernel</key>
	<string>widgetname</string>
	<key>shouldDismissRoute</key>
	<string>intermediateTextField</string>
</dict>
</plist>
