<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveGrid</key>
	<string>displayNode</string>
	<key>entitypatternalignment</key>
	<string>implementframe</string>
	<key>histogramcount</key>
	<string>sophisticatedcontrollervelocity</string>
	<key>mobileTransparency</key>
	<string>textfieldSkewY</string>
	<key>permanentLayer</key>
	<string>shouldStopOption</string>
	<key>requiredDescription</key>
	<string>canDecodeSpot</string>
</dict>
</plist>
