<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedCluster</key>
	<string>usecaseValue</string>
	<key>dynamicConnector</key>
	<string>canDetachTechnique</string>
	<key>explicitTangent</key>
	<string>persistStream</string>
	<key>mitigateaspect</key>
	<string>flexinset</string>
	<key>persistmusic</key>
	<string>observeBox</string>
	<key>streamconstraint</key>
	<string>informationStatus</string>
</dict>
</plist>
