<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deserializekernel</key>
	<string>shouldLoadConvolution</string>
	<key>factoryandobserver</key>
	<string>canPaintStateful</string>
	<key>flexibleGift</key>
	<string>asynchronouserror</string>
	<key>normalHero</key>
	<string>documentresult</string>
	<key>protocolvardensity</key>
	<string>shouldObserveGesture</string>
	<key>reusableBase</key>
	<string>mixinmanager</string>
	<key>shouldLayoutPet</key>
	<string>responsiveAxis</string>
	<key>shouldUnmountChallenge</key>
	<string>concreteResource</string>
</dict>
</plist>
