<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bindrouter</key>
	<string>shouldNotifyContainer</string>
	<key>desktopmethod</key>
	<string>augmentOffset</string>
	<key>eagerProvision</key>
	<string>textfieldVariable</string>
	<key>functionalSpot</key>
	<string>shouldUpdateThread</string>
	<key>integrationVisibility</key>
	<string>aspectplatformedge</string>
	<key>menufrequency</key>
	<string>enumerateAnimation</string>
	<key>publishmomentum</key>
	<string>combineService</string>
	<key>robustInjection</key>
	<string>visibleTabBar</string>
	<key>spinestate</key>
	<string>inheritedScroller</string>
	<key>tappableItem</key>
	<string>sortedElasticity</string>
</dict>
</plist>
