<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometricBehavior</key>
	<string>channelbehavior</string>
	<key>mobileDescent</key>
	<string>shouldEmitStateless</string>
	<key>prismaticCluster</key>
	<string>nodeproxycenter</string>
	<key>retainedPoint</key>
	<string>keyTabView</string>
</dict>
</plist>
