<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoPet</key>
	<string>canDismissRoute</string>
	<key>fusedAction</key>
	<string>channelrectangle</string>
	<key>immutablemultiplicationmomentum</key>
	<string>mapperstate</string>
	<key>strengthAlignment</key>
	<string>createAnimatedContainer</string>
	<key>swiftPressure</key>
	<string>staticManager</string>
	<key>weboptionpadding</key>
	<string>alignmentTension</string>
</dict>
</plist>
