<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedscroller</key>
	<string>histogramBrightness</string>
	<key>delicateModal</key>
	<string>subpixelContext</string>
	<key>diffableRecursion</key>
	<string>desktopView</string>
	<key>mediumCard</key>
	<string>usedCard</string>
	<key>optionMode</key>
	<string>iconPhase</string>
	<key>responseproxylocation</key>
	<string>canPushTernary</string>
	<key>signaturetype</key>
	<string>tangentpressure</string>
	<key>titledespitefacade</key>
	<string>restoreModel</string>
	<key>trianglesCoord</key>
	<string>arithmeticDimension</string>
</dict>
</plist>
