<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entitySkewX</key>
	<string>metadataanimation</string>
	<key>monstertint</key>
	<string>lossValidation</string>
	<key>reusableTable</key>
	<string>smartRenderer</string>
	<key>shouldDisconnectText</key>
	<string>channelsShade</string>
	<key>singletonduration</key>
	<string>crudeTween</string>
	<key>staticLogarithm</key>
	<string>tappabletimer</string>
</dict>
</plist>
