<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicGridView</key>
	<string>shouldHandleNorm</string>
	<key>rapidAppBar</key>
	<string>allocatorbrightness</string>
	<key>registertask</key>
	<string>shouldKeepDuration</string>
	<key>shouldNavigateRichText</key>
	<string>listenershapeorientation</string>
	<key>shoulddisposebloc</key>
	<string>pivotalMatrix</string>
	<key>stackflyweightinteraction</key>
	<string>secondOptimizer</string>
</dict>
</plist>
