<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionfeedback</key>
	<string>canPopInstruction</string>
	<key>integerframeworkdensity</key>
	<string>positionedParameter</string>
	<key>lastConsumption</key>
	<string>saveStateful</string>
	<key>layoutvertex</key>
	<string>deserializeSkin</string>
	<key>playmember</key>
	<string>presentCanvas</string>
	<key>standaloneCreator</key>
	<string>dedicatedScheduler</string>
</dict>
</plist>
