<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparatechapter</key>
	<string>shouldInflateStep</string>
	<key>fusedProjection</key>
	<string>synchronousQuaternion</string>
	<key>localdecorationrate</key>
	<string>descriptionSingleton</string>
	<key>notifierTail</key>
	<string>connectorTint</string>
	<key>tensorSwitch</key>
	<string>shouldPauseSkirt</string>
</dict>
</plist>
