<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentCombiner</key>
	<string>shouldmountedgridview</string>
	<key>dedicatedShader</key>
	<string>basicInfrastructure</string>
	<key>shouldAnimateAnimatedContainer</key>
	<string>lifecycleStatus</string>
	<key>shouldPopCurve</key>
	<string>crudeMaster</string>
</dict>
</plist>
