<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characteristicSaturation</key>
	<string>stampalongvisitor</string>
	<key>imagetransparency</key>
	<string>mountedAnimatedContainer</string>
	<key>multiplicationRight</key>
	<string>capsuleWork</string>
	<key>normalItem</key>
	<string>autoChecklist</string>
	<key>rapidTexture</key>
	<string>catalystMethod</string>
	<key>resizableStore</key>
	<string>typicalCoordinator</string>
	<key>sizeOrigin</key>
	<string>aspectscopestyle</string>
	<key>stateTransparency</key>
	<string>paintstore</string>
	<key>subtleDialogs</key>
	<string>lostQuaternion</string>
	<key>tabbarSize</key>
	<string>deactivateCurve</string>
</dict>
</plist>
