<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartindex</key>
	<string>borderMargin</string>
	<key>completionStatus</key>
	<string>canStartStoryboard</string>
	<key>desktopAnimation</key>
	<string>nextAnchor</string>
	<key>exponentflags</key>
	<string>emitPlate</string>
	<key>lastConfidentiality</key>
	<string>shouldMountedGridView</string>
	<key>permissivestream</key>
	<string>eventtaxonomy</string>
	<key>reactiveInjection</key>
	<string>elasticConfidentiality</string>
	<key>shouldUpdateRadio</key>
	<string>sophisticatedDescription</string>
	<key>shouldValidateCursor</key>
	<string>canValidateMaster</string>
</dict>
</plist>
