<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblenotifieropacity</key>
	<string>entityFlags</string>
	<key>alertHue</key>
	<string>syncLayer</string>
	<key>cartesianPolyfill</key>
	<string>shouldTrainNotification</string>
	<key>mutableWorkflow</key>
	<string>presentPadding</string>
</dict>
</plist>
