<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>injectionBehavior</key>
	<string>tabviewDensity</string>
	<key>pausecoordinator</key>
	<string>frameShape</string>
	<key>popindicator</key>
	<string>widgetCount</string>
	<key>relationalColor</key>
	<string>shouldSkipCycle</string>
	<key>schedulerCoord</key>
	<string>animatedBloc</string>
	<key>shouldYieldScroll</key>
	<string>toolStatus</string>
	<key>shoulddispatchmobile</key>
	<string>displayablenavigatorflags</string>
</dict>
</plist>
