<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedScroller</key>
	<string>parallelBoxShadow</string>
	<key>compositionalScale</key>
	<string>deserializeRadio</string>
	<key>diffableAudio</key>
	<string>cubitDepth</string>
	<key>intermediateDescription</key>
	<string>isResource</string>
	<key>playbackrepository</key>
	<string>largeVideo</string>
	<key>shouldEmitNotifier</key>
	<string>otherView</string>
</dict>
</plist>
