<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeNorm</key>
	<string>materializeUseCase</string>
	<key>directlyChapter</key>
	<string>shouldUpdateTool</string>
	<key>dispatcherKind</key>
	<string>exceptionofchain</string>
	<key>elasticActivity</key>
	<string>independentBullet</string>
	<key>grainspeed</key>
	<string>resetMethod</string>
	<key>mergerOffset</key>
	<string>progressbarMethod</string>
	<key>nextAlert</key>
	<string>disabledButton</string>
	<key>smallGrayscale</key>
	<string>nibTop</string>
</dict>
</plist>
