<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activemodel</key>
	<string>priorDropdownButton</string>
	<key>allocatortraversal</key>
	<string>gridactivityrate</string>
	<key>currentAsync</key>
	<string>shouldEmitSkin</string>
	<key>schedulerstyle</key>
	<string>buildContraction</string>
	<key>shouldReplaceTabView</key>
	<string>disabledLabel</string>
	<key>similarRow</key>
	<string>embedgroup</string>
	<key>sortedTimer</key>
	<string>canConnectSpot</string>
	<key>substantialEfficiency</key>
	<string>configureTransition</string>
</dict>
</plist>
