<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalVideo</key>
	<string>cachetabbar</string>
	<key>equipmentnearcommand</key>
	<string>explicitSchema</string>
	<key>granulardependencyrate</key>
	<string>displayableConnector</string>
	<key>prismaticInteractor</key>
	<string>backwardPolygon</string>
	<key>similarNotation</key>
	<string>shouldCancelScroll</string>
	<key>tabviewName</key>
	<string>mountedGridView</string>
	<key>traversalColor</key>
	<string>cartesianStateless</string>
</dict>
</plist>
