<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedStore</key>
	<string>listenCompleter</string>
	<key>adaptiveThreshold</key>
	<string>statelessrectfrequency</string>
	<key>architectureTint</key>
	<string>instructionBorder</string>
	<key>graphrectangle</key>
	<string>writeDuration</string>
	<key>hardcompletionedge</key>
	<string>newestMaterial</string>
	<key>hierarchicalShader</key>
	<string>handleProvider</string>
	<key>immediateScroll</key>
	<string>shearDelegate</string>
	<key>measurepriority</key>
	<string>asynchronousSign</string>
	<key>modulustop</key>
	<string>curvecompositevelocity</string>
</dict>
</plist>
