<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticGridView</key>
	<string>gradientIndex</string>
	<key>basicVariant</key>
	<string>partitionMetadata</string>
	<key>coordinatorMode</key>
	<string>literesponse</string>
	<key>diffableconstraintshape</key>
	<string>modelEnvironment</string>
	<key>elasticityBehavior</key>
	<string>multiArchitecture</string>
	<key>explicitSplitter</key>
	<string>shouldAttachStateful</string>
	<key>lazydocument</key>
	<string>onchannelstap</string>
	<key>mediocreBase</key>
	<string>aspectratioColor</string>
</dict>
</plist>
