<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticScreen</key>
	<string>radiopreview</string>
	<key>directlyFuture</key>
	<string>methodSingleton</string>
	<key>hashamonginterpreter</key>
	<string>globalAnchor</string>
	<key>imperativeHandler</key>
	<string>scrollTag</string>
	<key>shapeSaturation</key>
	<string>resultTemple</string>
	<key>shouldCreateSession</key>
	<string>visualizeCompleter</string>
	<key>shouldDeserializeSpine</key>
	<string>shouldTransitionMission</string>
	<key>shouldbindanimation</key>
	<string>plateCount</string>
	<key>significanttask</key>
	<string>buttonofsystem</string>
</dict>
</plist>
