<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxversusstrategy</key>
	<string>processmovement</string>
	<key>dynamicCapacities</key>
	<string>sharedDescent</string>
	<key>greatRecursion</key>
	<string>introspectOffset</string>
	<key>integerCenter</key>
	<string>attachPriority</string>
	<key>materialScroller</key>
	<string>encodeUnary</string>
	<key>normthroughstage</key>
	<string>expandedFunction</string>
	<key>priorException</key>
	<string>hierarchicalCapacities</string>
	<key>shouldPrepareSkirt</key>
	<string>commonTransition</string>
	<key>sliderDensity</key>
	<string>advancedListView</string>
	<key>spotDepth</key>
	<string>canResumeConstraint</string>
</dict>
</plist>
