<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contrastFormat</key>
	<string>hyperbolicaxis</string>
	<key>crucialImage</key>
	<string>shouldObserveTabView</string>
	<key>diversifiedMenu</key>
	<string>secondStoryboard</string>
	<key>draggableeffect</key>
	<string>gemPadding</string>
	<key>litewidgetstyle</key>
	<string>displayableProject</string>
	<key>mediumVideo</key>
	<string>handleaperture</string>
	<key>shouldupdateaperture</key>
	<string>bindAccessory</string>
</dict>
</plist>
