<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>missedVariant</key>
	<string>elasticPager</string>
	<key>newestconstraint</key>
	<string>trainInteger</string>
	<key>sequentialThroughput</key>
	<string>substantialDuration</string>
	<key>streamMargin</key>
	<string>shouldUpdateOverlay</string>
</dict>
</plist>
