<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperOrientation</key>
	<string>dynamicoffset</string>
	<key>inheritedTitle</key>
	<string>priorMaterial</string>
	<key>layerbridgekind</key>
	<string>skinBound</string>
	<key>oldColor</key>
	<string>significantConvolution</string>
	<key>poolrequest</key>
	<string>shouldInflateEquipment</string>
	<key>requestefficiency</key>
	<string>inheritedConsumer</string>
	<key>reusabledecorationforce</key>
	<string>temporaryScreen</string>
	<key>shouldFetchNotification</key>
	<string>directlyAspect</string>
	<key>shouldencodedocument</key>
	<string>pageviewSize</string>
</dict>
</plist>
