<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselinepresenter</key>
	<string>repositoryevaluation</string>
	<key>buttontail</key>
	<string>canDispatchInstruction</string>
	<key>dropdownbuttonInterval</key>
	<string>unmountalignment</string>
	<key>entitydelay</key>
	<string>streamlineSingleton</string>
	<key>liteModulus</key>
	<string>workflowSize</string>
	<key>textForce</key>
	<string>delegatefactory</string>
	<key>zoneFormat</key>
	<string>observerproxytheme</string>
</dict>
</plist>
