<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterAlignment</key>
	<string>shoulddisposereference</string>
	<key>granularBox</key>
	<string>cacheforce</string>
	<key>handlerLeft</key>
	<string>hashflags</string>
	<key>materialbaseline</key>
	<string>canDispatchFuture</string>
	<key>protocoloccasion</key>
	<string>publishervelocity</string>
	<key>toleranceType</key>
	<string>basequeue</string>
</dict>
</plist>
