<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationSpacing</key>
	<string>shouldPreparePlayback</string>
	<key>equivalentHead</key>
	<string>shearskin</string>
	<key>flexibleParticle</key>
	<string>opaqueLayout</string>
	<key>mobiledecoration</key>
	<string>implementRadius</string>
	<key>prismaticResolver</key>
	<string>rebuildInstruction</string>
	<key>shouldLoadSkin</key>
	<string>paddingleveldensity</string>
	<key>sophisticatedDetector</key>
	<string>detailInteraction</string>
	<key>statefulOrigin</key>
	<string>similarTopic</string>
</dict>
</plist>
