<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connectorStatus</key>
	<string>emitCell</string>
	<key>customizedBaseline</key>
	<string>deployAsync</string>
	<key>delicatebutton</key>
	<string>usageBuffer</string>
	<key>opaquetimerdensity</key>
	<string>mediocreTechnique</string>
	<key>primaryInterpolation</key>
	<string>opaqueModulus</string>
</dict>
</plist>
