<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteEquivalent</key>
	<string>defaultstateless</string>
	<key>drawerdecoratorcoord</key>
	<string>compileSink</string>
	<key>pivotalEvent</key>
	<string>shouldParseGestureDetector</string>
	<key>relationalOccasion</key>
	<string>displayableConvolution</string>
	<key>slashoutsidevalue</key>
	<string>occasionMargin</string>
	<key>splitterFrequency</key>
	<string>canSetStateBloc</string>
</dict>
</plist>
