<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubetype</key>
	<string>reduceCoordinator</string>
	<key>cupertinoInset</key>
	<string>methodMode</string>
	<key>dedicatedScreen</key>
	<string>visibleinterfaceinset</string>
	<key>directListView</key>
	<string>otherrect</string>
	<key>entropyStyle</key>
	<string>grayscaleMargin</string>
	<key>ignoredDisclaimer</key>
	<string>rolecontextflags</string>
	<key>permissiveRow</key>
	<string>canRebuildEffect</string>
	<key>shouldConnectColumn</key>
	<string>itemcontrast</string>
	<key>shouldFormatEffect</key>
	<string>newestInjection</string>
</dict>
</plist>
