<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioexception</key>
	<string>canDispatchEntropy</string>
	<key>bandwidthForce</key>
	<string>dispatchColumn</string>
	<key>chapterresponder</key>
	<string>canDismissDialogs</string>
	<key>immediateCompletion</key>
	<string>layerrate</string>
	<key>iterativeSignature</key>
	<string>writewidget</string>
	<key>rolemode</key>
	<string>canStreamGridView</string>
	<key>shouldPaintGift</key>
	<string>layoutImage</string>
	<key>shouldProcessDocument</key>
	<string>canPersistCapacities</string>
	<key>shouldPushCatalyst</key>
	<string>permissiveJoiner</string>
	<key>webBandwidth</key>
	<string>transpilescreen</string>
</dict>
</plist>
