<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listviewpicker</key>
	<string>canRestartModulus</string>
	<key>priorpreview</key>
	<string>diversifiedextension</string>
	<key>secondReceiver</key>
	<string>fixedConsumption</string>
	<key>shouldSubscribeResource</key>
	<string>splitterVelocity</string>
	<key>shouldparsestamp</key>
	<string>validateAspectRatio</string>
	<key>stackoffacade</key>
	<string>localOperation</string>
	<key>stateduration</key>
	<string>isMission</string>
	<key>swiftLocation</key>
	<string>seamlessChapter</string>
</dict>
</plist>
