<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoconverter</key>
	<string>declarativeResponder</string>
	<key>clusterRate</key>
	<string>resizableGrain</string>
	<key>delicatePlate</key>
	<string>touchBuffer</string>
	<key>dialogsSpeed</key>
	<string>hardKernel</string>
	<key>nativeTask</key>
	<string>modalStrategy</string>
	<key>replicaMode</key>
	<string>sessionDelay</string>
	<key>shouldParseSlider</key>
	<string>routerTier</string>
	<key>shouldStartCursor</key>
	<string>promisetint</string>
	<key>utilSkewY</key>
	<string>oldPlayback</string>
	<key>visibleProvider</key>
	<string>marginstatetheme</string>
</dict>
</plist>
