<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateResponse</key>
	<string>animatedHero</string>
	<key>characterfeedback</key>
	<string>agileCapacity</string>
	<key>declarativeCapacities</key>
	<string>radiusSkewY</string>
	<key>isolateShade</key>
	<string>keyDropdownButton</string>
	<key>shouldpreparecosine</key>
	<string>shouldTransitionMonster</string>
	<key>typicalAlignment</key>
	<string>pendingUnary</string>
</dict>
</plist>
