<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeThreshold</key>
	<string>temporaryPadding</string>
	<key>navigationDelay</key>
	<string>dismissVector</string>
	<key>permissiveusagesize</key>
	<string>tickersplitter</string>
	<key>schemaOffset</key>
	<string>isStack</string>
	<key>sustainablemediaquerytail</key>
	<string>maintainRect</string>
	<key>temporarysignatureshade</key>
	<string>shouldDeserializeTool</string>
	<key>transformerjobfrequency</key>
	<string>gemJob</string>
</dict>
</plist>
