<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousImpression</key>
	<string>publicCharacteristic</string>
	<key>beginnerChapter</key>
	<string>processTopic</string>
	<key>binaryName</key>
	<string>coordinatorInteraction</string>
	<key>decorationInteraction</key>
	<string>groupDensity</string>
	<key>firstSwift</key>
	<string>originalRect</string>
	<key>vectoroutsidelayer</key>
	<string>euclideanRouter</string>
</dict>
</plist>
