<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseMetadata</key>
	<string>prismaticChannel</string>
	<key>lostmend</key>
	<string>nativeSink</string>
	<key>monsterOpacity</key>
	<string>persistentConfidentiality</string>
	<key>publicSubscriber</key>
	<string>shouldtransitionscreen</string>
</dict>
</plist>
