<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstWorkflow</key>
	<string>responsivecube</string>
	<key>iterativeEntropy</key>
	<string>localizationTransparency</string>
	<key>mobilearchitecture</key>
	<string>canEncodeGem</string>
	<key>shouldcontinuecube</key>
	<string>orchestrateCallback</string>
	<key>smallCanvas</key>
	<string>geometricRichText</string>
	<key>streamMargin</key>
	<string>differentiateAwait</string>
</dict>
</plist>
