<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concatenatetransition</key>
	<string>asynchronousLayout</string>
	<key>draggableproject</key>
	<string>respectiveAllocator</string>
	<key>ephemeralLatency</key>
	<string>responseShade</string>
	<key>resolverAcceleration</key>
	<string>inflateaspectratio</string>
	<key>sustainableConvolution</key>
	<string>routeCollection</string>
	<key>uniqueNavigator</key>
	<string>canContinueSlash</string>
</dict>
</plist>
