<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintState</key>
	<string>keySkin</string>
	<key>crucialcluster</key>
	<string>easyFinder</string>
	<key>inheritedPermutation</key>
	<string>canPopRemainder</string>
	<key>isgate</key>
	<string>mediocreClipper</string>
	<key>previewState</key>
	<string>canSerializeRow</string>
	<key>relationalExpanded</key>
	<string>canTransitionNotification</string>
	<key>singleticker</key>
	<string>spotColor</string>
	<key>skinbound</key>
	<string>diversifiedSorter</string>
	<key>topiccompositestyle</key>
	<string>decorationcommandskewy</string>
	<key>widgetscheduler</key>
	<string>quaternionOrigin</string>
</dict>
</plist>
