<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disconnectswift</key>
	<string>canTransformMaster</string>
	<key>fragmentsRight</key>
	<string>setstateLayout</string>
	<key>hyperbolicproviderhue</key>
	<string>rectifyAsset</string>
	<key>loopduration</key>
	<string>iconBrightness</string>
	<key>statefulAcceleration</key>
	<string>priorschema</string>
</dict>
</plist>
