<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledRect</key>
	<string>uniquePolyfill</string>
	<key>intermediateThreshold</key>
	<string>canRenderGestureDetector</string>
	<key>responderVisible</key>
	<string>easyGraph</string>
</dict>
</plist>
