<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoDependency</key>
	<string>notifyIntensity</string>
	<key>scalabilitySaturation</key>
	<string>zonehue</string>
	<key>smallBaseline</key>
	<string>observePlayback</string>
</dict>
</plist>
