<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedAspect</key>
	<string>checkCurve</string>
	<key>blocHead</key>
	<string>imperativeSink</string>
	<key>inheritedProtocol</key>
	<string>shouldcreateconsumer</string>
	<key>lastPopup</key>
	<string>frameMediator</string>
	<key>sharedProvider</key>
	<string>concreteTechnique</string>
	<key>shouldEmitAperture</key>
	<string>polyfillStyle</string>
	<key>shouldUnbindAspectRatio</key>
	<string>criticalProgressBar</string>
	<key>timerSaturation</key>
	<string>resumeGradient</string>
</dict>
</plist>
