<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorfinder</key>
	<string>onintegertap</string>
	<key>criticalReduction</key>
	<string>shouldpublishgram</string>
	<key>cupertinoMultiplication</key>
	<string>basicHistogram</string>
	<key>descriptionCoord</key>
	<string>layoutIndicator</string>
	<key>filtershape</key>
	<string>accelerateDescription</string>
	<key>opaquegraphindex</key>
	<string>boxshadowStyle</string>
</dict>
</plist>
