<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeBinary</key>
	<string>normalOperation</string>
	<key>annotatetransition</key>
	<string>shouldRebuildFragment</string>
	<key>containerRight</key>
	<string>shouldRouteGift</string>
	<key>deferredObserver</key>
	<string>capacityShade</string>
	<key>enabledDescriptor</key>
	<string>canReplaceTool</string>
	<key>prevQueue</key>
	<string>pivotalIcon</string>
	<key>schemaOffset</key>
	<string>yieldMobile</string>
	<key>shouldDispatchPlate</key>
	<string>curveframeworkopacity</string>
	<key>shouldInflateTabView</key>
	<string>composableDecoration</string>
	<key>shouldSkipScreen</key>
	<string>effectIndex</string>
</dict>
</plist>
