<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concretespecifiervelocity</key>
	<string>shouldLoadBox</string>
	<key>futurehue</key>
	<string>textfieldProxy</string>
	<key>offsetEdge</key>
	<string>reflectSprite</string>
	<key>shouldPushExtension</key>
	<string>reducerviaactivity</string>
</dict>
</plist>
