<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartscopecoord</key>
	<string>skirtNumber</string>
	<key>currentBatch</key>
	<string>distinctionstate</string>
	<key>declarativeColumn</key>
	<string>segmentStyle</string>
	<key>projectDuration</key>
	<string>binaryTail</string>
	<key>sensorOpacity</key>
	<string>currentDetector</string>
	<key>tasktype</key>
	<string>textsubscription</string>
	<key>topicinvalue</key>
	<string>canDecodeIcon</string>
</dict>
</plist>
