<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groupforfunction</key>
	<string>numericalEffect</string>
	<key>rapidFeature</key>
	<string>drawerAcceleration</string>
	<key>retainedKernel</key>
	<string>sequentialStack</string>
	<key>staticDuration</key>
	<string>priorityMethod</string>
	<key>titlebesideframework</key>
	<string>reusableMusic</string>
</dict>
</plist>
