<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalsceneindex</key>
	<string>difficultScenario</string>
	<key>shouldCacheReduction</key>
	<string>mountSample</string>
	<key>stackstrategytail</key>
	<string>unmountedPlate</string>
</dict>
</plist>
