<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianChallenge</key>
	<string>persistentBuffer</string>
	<key>desktopHash</key>
	<string>profileCoordinator</string>
	<key>formatbloc</key>
	<string>shouldSerializeCatalyst</string>
	<key>hyperbolicGrayscale</key>
	<string>confidentialityOpacity</string>
	<key>newestPresenter</key>
	<string>linkerRight</string>
	<key>shouldBindEqualization</key>
	<string>textureTier</string>
	<key>slidernumberposition</key>
	<string>pivotalpresenter</string>
	<key>usageBound</key>
	<string>callbackstagescale</string>
</dict>
</plist>
