<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineDirection</key>
	<string>baseName</string>
	<key>custompaintDelay</key>
	<string>disposeSpine</string>
	<key>hasAnimation</key>
	<string>introspectSingleton</string>
	<key>ignoredAsset</key>
	<string>curvesingletonvisibility</string>
	<key>newestEmitter</key>
	<string>hardProtocol</string>
	<key>parallelResult</key>
	<string>canLoadSlider</string>
	<key>remediationindex</key>
	<string>heapvariablesize</string>
	<key>substantialpublisher</key>
	<string>canCacheDescriptor</string>
	<key>uniquerow</key>
	<string>tickerInterval</string>
</dict>
</plist>
