<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferTop</key>
	<string>workflowduringfunction</string>
	<key>clipperlistener</key>
	<string>storyboardefficiency</string>
	<key>clusterState</key>
	<string>canUpdateCaption</string>
	<key>layoutBrightness</key>
	<string>extensionShade</string>
	<key>protectedMechanism</key>
	<string>addLayout</string>
	<key>requiredfuture</key>
	<string>finishBoxShadow</string>
	<key>semanticCustomPaint</key>
	<string>deployRect</string>
	<key>shouldLoadCanvas</key>
	<string>defaultcertificate</string>
	<key>traversalAppearance</key>
	<string>sceneevent</string>
</dict>
</plist>
