<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binderStyle</key>
	<string>difficultRange</string>
	<key>currentZone</key>
	<string>previewFacade</string>
	<key>fixedgiftcoord</key>
	<string>shouldLayoutMusic</string>
	<key>painterintegrity</key>
	<string>canStopHeap</string>
	<key>shouldAnimateSample</key>
	<string>viewPosition</string>
	<key>significantbuilder</key>
	<string>memberduringplatform</string>
	<key>specifyChecklist</key>
	<string>subtleSizedBox</string>
	<key>trainnode</key>
	<string>documentTier</string>
	<key>unschedulestream</key>
	<string>futureTask</string>
</dict>
</plist>
