<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocinteraction</key>
	<string>evaluateEntity</string>
	<key>currentcycle</key>
	<string>expandedComposite</string>
	<key>mobileChannel</key>
	<string>euclideanFragments</string>
</dict>
</plist>
