<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousScroll</key>
	<string>oldRemainder</string>
	<key>diversifiedactiontag</key>
	<string>elementDensity</string>
	<key>explicitDecoration</key>
	<string>informationCount</string>
	<key>graphicsincevisitor</key>
	<string>handlerScope</string>
	<key>imperativeprotocol</key>
	<string>transpileIntensity</string>
	<key>moduluscluster</key>
	<string>subsequentPager</string>
</dict>
</plist>
