<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prioritywidget</key>
	<string>dependencymode</string>
	<key>scrollableResource</key>
	<string>elasticReduction</string>
	<key>shouldAttachNorm</key>
	<string>completionFlyweight</string>
	<key>vectorContrast</key>
	<string>accessoryJob</string>
</dict>
</plist>
