<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertTension</key>
	<string>transformtopic</string>
	<key>animatedcontainervisitorspacing</key>
	<string>configurationRotation</string>
	<key>crudeTolerance</key>
	<string>clipCoordinator</string>
	<key>displayableNib</key>
	<string>lastIntegration</string>
	<key>displayableTexture</key>
	<string>canTransformTangent</string>
	<key>publishbuffer</key>
	<string>propagateCallback</string>
	<key>radioSaturation</key>
	<string>limitview</string>
	<key>shouldStopEqualization</key>
	<string>firstThroughput</string>
	<key>shouldunmountedcontroller</key>
	<string>traversalVisible</string>
	<key>storehead</key>
	<string>popDecoration</string>
</dict>
</plist>
