<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyJoiner</key>
	<string>robustInjection</string>
	<key>executeplate</key>
	<string>responsiveexponent</string>
	<key>inheritedDetail</key>
	<string>geometricDimension</string>
	<key>unactivatedMenu</key>
	<string>gramdescent</string>
</dict>
</plist>
