<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentMaterializer</key>
	<string>detachInteractor</string>
	<key>onpageviewchanged</key>
	<string>variantstyletail</string>
	<key>shouldparseborder</key>
	<string>grainlocation</string>
	<key>showpriority</key>
	<string>disabledComponent</string>
	<key>substantialRadio</key>
	<string>nibcoordinator</string>
</dict>
</plist>
