<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitmastermargin</key>
	<string>shouldDetachHistogram</string>
	<key>geometrictextfield</key>
	<string>secondsegment</string>
	<key>localBandwidth</key>
	<string>interpolateAlignment</string>
	<key>materialrequest</key>
	<string>shouldProcessBuilder</string>
	<key>respectiveaspectratio</key>
	<string>statefulTouch</string>
	<key>shouldRenderFlex</key>
	<string>smallassetright</string>
	<key>shouldSkipExtension</key>
	<string>gemDirection</string>
	<key>stringifydependency</key>
	<string>retainedentityinset</string>
	<key>uniquezoneoffset</key>
	<string>heroStyle</string>
</dict>
</plist>
