<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonhandler</key>
	<string>largeobserver</string>
	<key>consumesprite</key>
	<string>isRole</string>
	<key>factoryMomentum</key>
	<string>shouldPaintSlash</string>
	<key>grammenu</key>
	<string>richtextMethod</string>
	<key>ignoredContrast</key>
	<string>entropyRight</string>
	<key>parallelLogarithm</key>
	<string>parallelBandwidth</string>
	<key>smallspotname</key>
	<string>connectorFeedback</string>
	<key>specifyError</key>
	<string>currentImage</string>
	<key>unactivatedDetector</key>
	<string>canUnmountGestureDetector</string>
	<key>widgetresponse</key>
	<string>accessibleFuture</string>
</dict>
</plist>
