<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteSelector</key>
	<string>handlerType</string>
	<key>drawerjobbottom</key>
	<string>debugMenu</string>
	<key>fixedMargin</key>
	<string>autoInfo</string>
	<key>flexibleTime</key>
	<string>sortedModule</string>
	<key>interpolationorientation</key>
	<string>ephemeralDisclaimer</string>
	<key>iterativeReducer</key>
	<string>requiredAmortization</string>
	<key>remainderRotation</key>
	<string>canProcessMaterial</string>
</dict>
</plist>
