<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveRenderer</key>
	<string>buildInteger</string>
	<key>delegatebound</key>
	<string>responseawaystate</string>
	<key>encodetransition</key>
	<string>shouldSaveMomentum</string>
	<key>independentHero</key>
	<string>heapProxy</string>
	<key>navigationtype</key>
	<string>keyPrecision</string>
	<key>processorInset</key>
	<string>dynamicObserver</string>
	<key>reusableRequest</key>
	<string>diffablesegue</string>
	<key>symmetricSignature</key>
	<string>tappableFeature</string>
	<key>timeInteraction</key>
	<string>nativeParticle</string>
	<key>timelineCoord</key>
	<string>infoBound</string>
</dict>
</plist>
