<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedBrush</key>
	<string>reactivescenekind</string>
	<key>formatfragment</key>
	<string>inflateRadio</string>
	<key>globalTentative</key>
	<string>temporaryComponent</string>
	<key>reflectchart</key>
	<string>canEndChecklist</string>
	<key>shouldPersistThread</key>
	<string>replaceTabBar</string>
	<key>shouldTrainSemantics</key>
	<string>scrollableScope</string>
	<key>shouldValidateBase</key>
	<string>lastRow</string>
	<key>shouldValidateShader</key>
	<string>uniqueFrame</string>
	<key>singleRole</key>
	<string>reusabledescriptiondensity</string>
	<key>specifierTransparency</key>
	<string>shouldNotifyTextField</string>
</dict>
</plist>
