<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableProfile</key>
	<string>batchDelay</string>
	<key>filterRight</key>
	<string>shouldNavigateDrawer</string>
	<key>quantizationresolver</key>
	<string>pushPageView</string>
	<key>retainedElasticity</key>
	<string>basicStatus</string>
	<key>shouldPopBox</key>
	<string>painterAlignment</string>
	<key>usedTexture</key>
	<string>webTexture</string>
</dict>
</plist>
