<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSegment</key>
	<string>remainderoutsidefacade</string>
	<key>canvasfunctionbottom</key>
	<string>canUnmountMedia</string>
	<key>checklistlocation</key>
	<string>canProcessAspect</string>
	<key>concurrentSignature</key>
	<string>associateCallback</string>
	<key>popdecoration</key>
	<string>newestMedia</string>
	<key>specifycallback</key>
	<string>canValidateHero</string>
	<key>temporarytask</key>
	<string>disabledmetadata</string>
	<key>workflowawaysystem</key>
	<string>canDispatchAspectRatio</string>
</dict>
</plist>
