<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionCompleter</key>
	<string>sharedTween</string>
	<key>diffableviewstyle</key>
	<string>statelessEmitter</string>
	<key>indicatorTail</key>
	<string>decorationSystem</string>
	<key>isoptimizer</key>
	<string>behaviorPressure</string>
	<key>mediaDelay</key>
	<string>shouldStartThread</string>
	<key>prevColumn</key>
	<string>markGraph</string>
	<key>sensorlistener</key>
	<string>smallTool</string>
	<key>substantialPlayback</key>
	<string>attachAspectRatio</string>
	<key>sustainableSprite</key>
	<string>pinchableContainer</string>
	<key>widgetcolor</key>
	<string>disabledPoint</string>
</dict>
</plist>
