<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowdistance</key>
	<string>transposeexception</string>
	<key>certificateInterval</key>
	<string>mapisolate</string>
	<key>mountprofile</key>
	<string>beginnerMultiplication</string>
	<key>optimizerState</key>
	<string>unsortedProfile</string>
	<key>shouldnavigateexpanded</key>
	<string>scheduleSize</string>
	<key>stateVisibility</key>
	<string>detectorSaturation</string>
	<key>transpilechapter</key>
	<string>singletonChain</string>
</dict>
</plist>
