<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycletension</key>
	<string>composableScope</string>
	<key>integrationPadding</key>
	<string>maintainContainer</string>
	<key>projectiondelay</key>
	<string>shouldAnimatePlate</string>
	<key>unactivatedLogarithm</key>
	<string>offsetLevel</string>
</dict>
</plist>
