<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorvelocity</key>
	<string>canUnmountClipper</string>
	<key>hashdelivery</key>
	<string>shouldhandleproject</string>
	<key>intuitiveScreen</key>
	<string>tickerCycle</string>
	<key>memberdepth</key>
	<string>dropoutReducer</string>
	<key>originalLayout</key>
	<string>materialWorkflow</string>
	<key>pivotalAllocator</key>
	<string>subsequentDelivery</string>
	<key>sharedInkWell</key>
	<string>dedicatedcharacter</string>
	<key>triggerForce</key>
	<string>retainedStack</string>
	<key>unlockframe</key>
	<string>freeMetadata</string>
</dict>
</plist>
