<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacityColor</key>
	<string>textureOffset</string>
	<key>compilemenu</key>
	<string>boxshadowActivity</string>
	<key>crudeFrame</key>
	<string>saveNorm</string>
	<key>ephemeralAspectRatio</key>
	<string>opaqueTechnique</string>
	<key>imagesize</key>
	<string>benchmarkGrain</string>
	<key>notifierflags</key>
	<string>selectedBehavior</string>
	<key>reactiveSwift</key>
	<string>previewValidation</string>
	<key>shoulddetachternary</key>
	<string>sophisticatedCertificate</string>
	<key>sortedPageView</key>
	<string>singleWidget</string>
	<key>visiblespinesaturation</key>
	<string>resilientInterpolation</string>
</dict>
</plist>
