<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedGroup</key>
	<string>compositionalIntegrity</string>
	<key>rapidEquivalent</key>
	<string>optimizeState</string>
	<key>shouldAttachConvolution</key>
	<string>visibleStream</string>
	<key>topicagainstkind</key>
	<string>hardScenario</string>
</dict>
</plist>
