<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousScene</key>
	<string>geometricProject</string>
	<key>independentSignature</key>
	<string>commonStoryboard</string>
	<key>invisibleIntegrity</key>
	<string>denseUsage</string>
	<key>lazyCache</key>
	<string>accessoryprocessor</string>
	<key>shouldLayoutExpanded</key>
	<string>unsortedInjection</string>
	<key>stepFormat</key>
	<string>subpixelnearwork</string>
</dict>
</plist>
