<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseClipper</key>
	<string>anchorTail</string>
	<key>discardedConsumption</key>
	<string>persistentSingleton</string>
	<key>explicitSign</key>
	<string>yieldheap</string>
	<key>pivotalClipper</key>
	<string>documentIndex</string>
	<key>respectivePromise</key>
	<string>clipperkindskewx</string>
	<key>shouldAttachGraphic</key>
	<string>compositionalInfrastructure</string>
	<key>staticnodepadding</key>
	<string>playbackCycle</string>
	<key>sustainablepositiontype</key>
	<string>taskawaybridge</string>
	<key>tweakOffset</key>
	<string>navigatezone</string>
</dict>
</plist>
