<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analogyTail</key>
	<string>plateBuffer</string>
	<key>builderstructureduration</key>
	<string>previewOrientation</string>
	<key>converterSpeed</key>
	<string>synchronizeinterface</string>
	<key>formataxis</key>
	<string>disconnectReducer</string>
	<key>mobileDispatcher</key>
	<string>allocatefeature</string>
	<key>robustPromise</key>
	<string>custompaintHue</string>
</dict>
</plist>
