<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositioncolor</key>
	<string>debugRect</string>
	<key>delegateobservermomentum</key>
	<string>oneffecttap</string>
	<key>greatTentative</key>
	<string>associatedInterface</string>
	<key>numericaldrawerpadding</key>
	<string>switchTask</string>
	<key>respectiveDescriptor</key>
	<string>anchorcontextoffset</string>
	<key>shouldRouteDocument</key>
	<string>resetBuilder</string>
	<key>shoulddispatchnavigator</key>
	<string>interpolateRow</string>
	<key>themefunctionformat</key>
	<string>canPopSpine</string>
	<key>unarynearcontext</key>
	<string>typicalTitle</string>
</dict>
</plist>
