<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerColor</key>
	<string>permutationVisibility</string>
	<key>directlyAlignment</key>
	<string>textbound</string>
	<key>disconnectgrid</key>
	<string>resourcenotation</string>
	<key>elasticSession</key>
	<string>deferredOffset</string>
	<key>resizableSample</key>
	<string>mountedBox</string>
	<key>sinecontainnumber</key>
	<string>declarativeReference</string>
	<key>unactivatedNotation</key>
	<string>resetResponse</string>
</dict>
</plist>
