<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardResult</key>
	<string>renamedependency</string>
	<key>intermediateHero</key>
	<string>cartesianPainter</string>
	<key>missedFinder</key>
	<string>shouldSerializeProfile</string>
	<key>sortedMediaQuery</key>
	<string>handlerRotation</string>
	<key>staticSkin</key>
	<string>disconnectInjection</string>
</dict>
</plist>
