<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionSpacing</key>
	<string>uniqueBaseline</string>
	<key>distinctionLocation</key>
	<string>pivotalcharactertheme</string>
	<key>materialBullet</key>
	<string>equalizationSkewX</string>
	<key>oldUtil</key>
	<string>subpixelRotation</string>
	<key>semanticScaffold</key>
	<string>mobileTweak</string>
	<key>shouldDismissBloc</key>
	<string>scrollableSignature</string>
	<key>shouldStreamStream</key>
	<string>shouldShowScreen</string>
</dict>
</plist>
