<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionSpacing</key>
	<string>temporaryChooser</string>
	<key>currentslider</key>
	<string>semanticsTemple</string>
	<key>handlerichtext</key>
	<string>stopStateless</string>
	<key>interactiveevent</key>
	<string>reusablePadding</string>
	<key>interactorcapacity</key>
	<string>pinchableThread</string>
	<key>mainText</key>
	<string>missedTweak</string>
	<key>notifybinary</key>
	<string>notifySingleton</string>
	<key>standalonetexture</key>
	<string>sequentialLifecycle</string>
	<key>updatescroll</key>
	<string>canUpdateGestureDetector</string>
</dict>
</plist>
