<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeLatency</key>
	<string>requiredNode</string>
	<key>firstCombiner</key>
	<string>diffableGift</string>
	<key>fusedMerger</key>
	<string>resolverforinterpreter</string>
	<key>priorLabel</key>
	<string>dynamicscrollcolor</string>
	<key>shouldhandledescriptor</key>
	<string>seekOffset</string>
	<key>sliderInteraction</key>
	<string>inflateChannels</string>
	<key>statelessgrain</key>
	<string>elasticGift</string>
	<key>visibleResource</key>
	<string>decodeReducer</string>
</dict>
</plist>
