<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteMargin</key>
	<string>deserializeScaffold</string>
	<key>durationassingleton</key>
	<string>sequentialThreshold</string>
	<key>requiredObserver</key>
	<string>singleOffset</string>
	<key>shouldCacheMember</key>
	<string>flexibleScroll</string>
	<key>shouldEndPromise</key>
	<string>shouldAttachClipper</string>
	<key>shouldShowAlert</key>
	<string>shouldpushcharacter</string>
	<key>shoulddispatchlogarithm</key>
	<string>adaptiveConnector</string>
</dict>
</plist>
