<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzerOffset</key>
	<string>profileview</string>
	<key>asyncShade</key>
	<string>entityviacontext</string>
	<key>grainShade</key>
	<string>invisiblebinder</string>
	<key>hierarchicalSize</key>
	<string>eagerinkwell</string>
	<key>materializerBrightness</key>
	<string>shouldPublishCoordinator</string>
	<key>notifydocument</key>
	<string>documentLayer</string>
	<key>originalConsumption</key>
	<string>referenceSingleton</string>
	<key>radiomapper</key>
	<string>consumeReducer</string>
	<key>shouldyieldmovement</key>
	<string>syncChart</string>
	<key>uniqueListener</key>
	<string>registerEntity</string>
</dict>
</plist>
