<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationoffunction</key>
	<string>hyperbolicFuture</string>
	<key>batchAppearance</key>
	<string>spinePlatform</string>
	<key>customTernary</key>
	<string>channelPrototype</string>
	<key>layoutsprite</key>
	<string>shouldCancelCapsule</string>
	<key>unactivatedeffect</key>
	<string>particleObserver</string>
</dict>
</plist>
