<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositioncontextinset</key>
	<string>numericalChallenge</string>
	<key>directlyPager</key>
	<string>canInflateMember</string>
	<key>prismaticcharacteristic</key>
	<string>buildProvider</string>
	<key>shouldFetchConvolution</key>
	<string>globalContraction</string>
</dict>
</plist>
