<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasAppearance</key>
	<string>canContinueSubpixel</string>
	<key>characterPressure</key>
	<string>benchmarkSlider</string>
	<key>customNavigation</key>
	<string>heroinfrastructure</string>
	<key>loopuntilstate</key>
	<string>heapInteraction</string>
	<key>multiplycompleter</key>
	<string>decoderepository</string>
	<key>shouldRenderTool</key>
	<string>selectedBinary</string>
	<key>shouldTrainGift</key>
	<string>interpolationDuration</string>
	<key>unaryscopetension</key>
	<string>delicateCompleter</string>
	<key>widgetskewy</key>
	<string>continueCanvas</string>
</dict>
</plist>
