<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immutableskin</key>
	<string>createRadio</string>
	<key>rapidOccasion</key>
	<string>sophisticateddetector</string>
	<key>smartGesture</key>
	<string>multiplyFeature</string>
	<key>staticrepository</key>
	<string>navigationresolver</string>
	<key>textTint</key>
	<string>aspectfrequency</string>
</dict>
</plist>
