<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultnavigation</key>
	<string>canShowGesture</string>
	<key>mediumremainder</key>
	<string>rolelikeparam</string>
	<key>radiustransparency</key>
	<string>executeObserver</string>
	<key>shouldtransitionbuilder</key>
	<string>mediaTemple</string>
	<key>tabviewvisibility</key>
	<string>directModule</string>
	<key>wrapperType</key>
	<string>connectCompleter</string>
</dict>
</plist>
