<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushLeft</key>
	<string>unsortedClipper</string>
	<key>buildspecifier</key>
	<string>originalWrapper</string>
	<key>fetchspot</key>
	<string>exponentPressure</string>
	<key>rectangleContrast</key>
	<string>pivotalInteger</string>
	<key>retainedTransition</key>
	<string>receiverDirection</string>
	<key>shouldTransitionDuration</key>
	<string>emitterHead</string>
	<key>similarservicebrightness</key>
	<string>canTransformMomentum</string>
	<key>sophisticatedAccessory</key>
	<string>fixedPlate</string>
	<key>triggerskewy</key>
	<string>signatureValue</string>
	<key>viewthanshape</key>
	<string>validateEntropy</string>
</dict>
</plist>
