<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoScalability</key>
	<string>respectiveService</string>
	<key>cacheshape</key>
	<string>invokeEntity</string>
	<key>lastSubscriber</key>
	<string>resolveDuration</string>
	<key>liteAlignment</key>
	<string>iterativeGift</string>
	<key>mutableRoute</key>
	<string>shouldDispatchMedia</string>
	<key>newestHandler</key>
	<string>canListenNavigator</string>
	<key>streamCenter</key>
	<string>euclideanCreator</string>
	<key>usedInteger</key>
	<string>finishShader</string>
</dict>
</plist>
