<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileTabView</key>
	<string>canYieldStoryboard</string>
	<key>disparateShape</key>
	<string>missedRenderer</string>
	<key>fixedPicker</key>
	<string>normVisitor</string>
	<key>invisibleThread</key>
	<string>canSkipBatch</string>
	<key>mendtop</key>
	<string>emitSegue</string>
	<key>shouldAttachMember</key>
	<string>hyperbolicSize</string>
</dict>
</plist>
