<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeConnector</key>
	<string>currentStroke</string>
	<key>disabledThread</key>
	<string>limitprojection</string>
	<key>hasPlate</key>
	<string>concurrentLatency</string>
	<key>matrixpressure</key>
	<string>boxshadowHue</string>
	<key>nativeRouter</key>
	<string>canUnmountCupertino</string>
	<key>repositorychainborder</key>
	<string>shouldFormatOptimizer</string>
	<key>shouldObserveFragment</key>
	<string>shouldValidateGram</string>
</dict>
</plist>
