<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSession</key>
	<string>interpolationOpacity</string>
	<key>addreducer</key>
	<string>replaceSpecifier</string>
	<key>borderInteraction</key>
	<string>canTrainAnimatedContainer</string>
	<key>shouldroutesine</key>
	<string>hyperbolicTextField</string>
</dict>
</plist>
