<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoStoryboard</key>
	<string>measureHandler</string>
	<key>customTriangles</key>
	<string>matrixbandwidth</string>
	<key>intermediateChapter</key>
	<string>accessibleCanvas</string>
	<key>shouldEncodeProjection</key>
	<string>spineSpacing</string>
	<key>shouldObserveCheckbox</key>
	<string>gateTheme</string>
	<key>shouldRouteStamp</key>
	<string>hashDuration</string>
	<key>sizedboxCenter</key>
	<string>shouldSaveMobile</string>
	<key>sortedEquipment</key>
	<string>findGrain</string>
	<key>splitterDirection</key>
	<string>sortedAnimation</string>
	<key>usagechaintension</key>
	<string>rotateIsolate</string>
</dict>
</plist>
