<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intuitiveevaluation</key>
	<string>resourceProcess</string>
	<key>liteSingleton</key>
	<string>canStopKernel</string>
	<key>sequentialSelector</key>
	<string>shouldAnimateCertificate</string>
	<key>shouldReplacePromise</key>
	<string>activatedTentative</string>
	<key>specifyPopup</key>
	<string>beginnerElement</string>
	<key>updaterow</key>
	<string>permanentPromise</string>
</dict>
</plist>
