<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorColor</key>
	<string>projectShape</string>
	<key>binaryinset</key>
	<string>associatedEquivalent</string>
	<key>dropdownbuttonacceleration</key>
	<string>histogramTop</string>
	<key>flexibleBorder</key>
	<string>explicitCapacities</string>
	<key>intuitiveAnimator</key>
	<string>usecaseCoord</string>
	<key>requestquaternion</key>
	<string>addTimer</string>
	<key>shouldDecodeCanvas</key>
	<string>synchronousMenu</string>
</dict>
</plist>
