<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledLabel</key>
	<string>interpolationVisible</string>
	<key>hardConsumption</key>
	<string>tangentbloc</string>
	<key>ignoredAwait</key>
	<string>layoutswitch</string>
	<key>newestcard</key>
	<string>usedObserver</string>
	<key>numericalPopup</key>
	<string>canReplaceText</string>
	<key>shouldRestartAnchor</key>
	<string>modelSpeed</string>
	<key>shouldShowAspectRatio</key>
	<string>semanticMesh</string>
	<key>sustainableLoss</key>
	<string>yieldStamp</string>
	<key>usedContrast</key>
	<string>dynamicThroughput</string>
	<key>widgetremediation</key>
	<string>requestRight</string>
</dict>
</plist>
