<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometricCharacter</key>
	<string>injectAnimation</string>
	<key>gridviewtint</key>
	<string>destroyRouter</string>
	<key>invisibleMedia</key>
	<string>durationDepth</string>
	<key>mutableSpot</key>
	<string>canDisconnectListView</string>
	<key>nativeTimeline</key>
	<string>particleorigin</string>
	<key>rendererBorder</key>
	<string>advancedascent</string>
	<key>shouldEndChallenge</key>
	<string>nextWidget</string>
	<key>shouldresumelogarithm</key>
	<string>blocRate</string>
	<key>subscribelog</key>
	<string>canvasValue</string>
	<key>touchHue</key>
	<string>sortedAllocator</string>
</dict>
</plist>
