<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengepreview</key>
	<string>canKeepInteger</string>
	<key>collectionevolution</key>
	<string>autoVector</string>
	<key>draggableprogressbartail</key>
	<string>borderFunction</string>
	<key>movementAlignment</key>
	<string>petCenter</string>
	<key>numericalBase</key>
	<string>unactivatedEvaluation</string>
	<key>permissiveShader</key>
	<string>flexindex</string>
	<key>schedulerscale</key>
	<string>textEdge</string>
	<key>subscriptionBrightness</key>
	<string>animatedSymbol</string>
	<key>usageInterval</key>
	<string>paddingTail</string>
</dict>
</plist>
