<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedSpecifier</key>
	<string>shouldFinishMovement</string>
	<key>multiplicationorientation</key>
	<string>shouldResumeGrayscale</string>
	<key>precisionAppearance</key>
	<string>permissiveIntegration</string>
	<key>shouldPresentNavigation</key>
	<string>completedHeap</string>
</dict>
</plist>
