<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardalongtier</key>
	<string>shouldUnmountedAppBar</string>
	<key>rectPadding</key>
	<string>integrityShade</string>
	<key>shouldDispatchModulus</key>
	<string>directlyFilter</string>
	<key>sortermargin</key>
	<string>hardActivity</string>
</dict>
</plist>
