<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedFuture</key>
	<string>shouldBindConstraint</string>
	<key>concreteSpecifier</key>
	<string>canValidateMusic</string>
	<key>immediatePosition</key>
	<string>listenerStage</string>
	<key>layoutbrush</key>
	<string>intuitiveSingleton</string>
	<key>navigationthanstage</key>
	<string>groupadaptertag</string>
	<key>symmetricChannel</key>
	<string>lossSpeed</string>
	<key>topicDirection</key>
	<string>presenterreceiver</string>
</dict>
</plist>
