<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableProvision</key>
	<string>directHeap</string>
	<key>intermediateCursor</key>
	<string>sceneshape</string>
	<key>locallayer</key>
	<string>techniqueAppearance</string>
	<key>losscurve</key>
	<string>localstore</string>
	<key>stateOffset</key>
	<string>retainedPosition</string>
	<key>storeviamode</key>
	<string>agileGrayscale</string>
	<key>uniquescene</key>
	<string>intermediateChecklist</string>
</dict>
</plist>
