<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorTransparency</key>
	<string>chartforce</string>
	<key>denseChart</key>
	<string>desktopAsset</string>
	<key>directRange</key>
	<string>unmountImage</string>
	<key>durationacceleration</key>
	<string>subscribeusage</string>
	<key>explicitNib</key>
	<string>inflateIsolate</string>
	<key>intensityviatemple</key>
	<string>publishVariant</string>
	<key>pivotalSpine</key>
	<string>sinkincommand</string>
	<key>shouldDisconnectTechnique</key>
	<string>materialEntropy</string>
	<key>shouldDisposeButton</key>
	<string>histogramincludeoperation</string>
	<key>shouldkeepconsumer</key>
	<string>canSaveSubpixel</string>
</dict>
</plist>
