<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonRouter</key>
	<string>scrollerColor</string>
	<key>decorationpublisher</key>
	<string>stateSize</string>
	<key>entityincludevar</key>
	<string>materializervelocity</string>
	<key>ephemeralCursor</key>
	<string>cancelBoxShadow</string>
	<key>flexibleIntensity</key>
	<string>managerthroughbuffer</string>
	<key>fragmentAppearance</key>
	<string>freeTimer</string>
	<key>interactortentative</key>
	<string>alphaHue</string>
	<key>nodeDensity</key>
	<string>shouldBindBase</string>
	<key>pageviewPadding</key>
	<string>restartRichText</string>
</dict>
</plist>
