<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedDecoration</key>
	<string>gatewithouttier</string>
	<key>compositionBorder</key>
	<string>directDistinction</string>
	<key>confidentialityForce</key>
	<string>similarNotation</string>
	<key>graphprototypetype</key>
	<string>polyfillOffset</string>
	<key>lazyLoader</key>
	<string>canSaveStack</string>
	<key>newesttaskdelay</key>
	<string>setstateRemainder</string>
	<key>oncanvaschanged</key>
	<string>notifyLog</string>
	<key>shouldRenderDocument</key>
	<string>numericalDecoration</string>
</dict>
</plist>
