<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTask</key>
	<string>syncGroup</string>
	<key>captionrotation</key>
	<string>showFlex</string>
	<key>charactermode</key>
	<string>marginCycle</string>
	<key>explicitPager</key>
	<string>concretetransition</string>
	<key>mobileName</key>
	<string>sequentialOption</string>
	<key>multitaxonomy</key>
	<string>custompaintAlignment</string>
	<key>notifieractionsize</key>
	<string>densePlayback</string>
	<key>semanticChannel</key>
	<string>animationRotation</string>
	<key>singletonTop</key>
	<string>analyzerHead</string>
	<key>statefulRequest</key>
	<string>lostTable</string>
</dict>
</plist>
