<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectioncontroller</key>
	<string>formatflex</string>
	<key>comprehensiveSign</key>
	<string>constantorientation</string>
	<key>gateascent</key>
	<string>shouldCancelSine</string>
	<key>opaqueInteger</key>
	<string>shoulddispatchnavigation</string>
	<key>shouldcreatebullet</key>
	<string>sinksize</string>
	<key>streamuntilchain</key>
	<string>exponentBridge</string>
	<key>textenvironmentcenter</key>
	<string>disparateScale</string>
</dict>
</plist>
