<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentMusic</key>
	<string>positionshape</string>
	<key>decodepopup</key>
	<string>serviceBound</string>
	<key>groupType</key>
	<string>mediaquerytypetail</string>
	<key>shouldDecodeCycle</key>
	<string>canLoadArithmetic</string>
</dict>
</plist>
