<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicPolygon</key>
	<string>shouldDetachButton</string>
	<key>concurrentListView</key>
	<string>directlyResponse</string>
	<key>directEntropy</key>
	<string>mountProjection</string>
	<key>lazyAnimator</key>
	<string>uniqueSegment</string>
	<key>opaqueDelivery</key>
	<string>spotdepth</string>
	<key>parallelInstruction</key>
	<string>canSubscribeImage</string>
	<key>recursionHead</key>
	<string>marshalTimer</string>
	<key>shouldtrainchecklist</key>
	<string>canListenRole</string>
	<key>sustainableMaster</key>
	<string>immutableListener</string>
</dict>
</plist>
