<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedEqualization</key>
	<string>invisibleRichText</string>
	<key>clearsymbol</key>
	<string>particletiersaturation</string>
	<key>customAlignment</key>
	<string>otherInjection</string>
	<key>deactivategrain</key>
	<string>observerStructure</string>
	<key>permissiveDescent</key>
	<string>connectorMargin</string>
	<key>remediationDirection</key>
	<string>currentCubit</string>
	<key>shouldPublishGradient</key>
	<string>mediaqueryDecorator</string>
</dict>
</plist>
