<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immediateCharacteristic</key>
	<string>particleStatus</string>
	<key>mobileInjection</key>
	<string>shouldMountNorm</string>
	<key>mountmovement</key>
	<string>aspectFrequency</string>
	<key>relationalImage</key>
	<string>gramisolate</string>
	<key>significantResilience</key>
	<string>nextpublisher</string>
</dict>
</plist>
